.advantages {
  padding-left: 178px;
  background-color: $emphasis-color;
  color: $light-color;

  .container {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 75px;
  }

  &__info {
    padding-top: 150px;
    max-width: 555px;
  }

  &__paragraph {
    font-size: 20px;
    line-height: percentage($number: 29px / 20px);
    font-weight: 100;

    span {
      font-size: 24px;
      line-height: percentage($number: 35px / 24px);
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 1441px) {
  .advantages {
    .container {
      padding: 0 15px;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 1440px) {
  .advantages {
    padding-left: 20px;

    &__info {
      width: 60%;
      max-width: none;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__image {
      width: percentage($number: 525px / 1440px);
    }
  }
}

@media screen and (max-width: 1150px) {
  .advantages {
    &__title {
      font-size: 24px;
    }

    &__paragraph {
      font-size: 14px;

      span {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .advantages {
    &__info {
      padding-top: 50px;
    }
  }
}

@media screen and (max-width: 700px) {
  .advantages {
    &__info {
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 630px) {
  .advantages {
    padding-top: 50px;
    padding-left: 0;

    &__container {
      flex-direction: column;
    }

    &__info,
    &__image {
      width: 100%;
    }

    &__info {
      margin-bottom: 30px;
      padding: 10px 15px 0;
    }

    &__title {
      text-align: center;
    }

    &__paragraph {
      text-align: justify;
    }

    &__image img {
      margin: 0 auto;
    }
  }
}
