.contact {
  &__top {
    color: $light-color;
    background-color: #22356f;

    .container {
      margin-right: 0;
      padding: 0;
    }
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
  }

  &__top-info {
    padding-top: 103px;
    padding-left: 180px;
    max-width: 720px;
  }

  &__top-subtitle {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 230px;
    text-transform: uppercase;
  }

  &__top-title {
    font-weight: 700;
    font-size: 64px;
    line-height: percentage($number: 94px / 64px);
    margin-bottom: 75px;
  }

  &__top-paragraph {
    font-size: 36px;
    line-height: percentage($number: 53px / 36px);
    margin-bottom: 50px;
  }

  &__top-link {
    font-weight: 500;
    font-size: 16px;
    line-height: percentage($number: 23px / 16px);
    color: $emphasis-color;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 0.7px;
  }

  &__bottom {
    .container {
      margin-left: 0;
      padding: 0;
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-info {
    padding-top: 50px;
    padding-left: 170px;
    display: flex;
  }

  &__bottom-item {
    flex-basis: 220px;
    padding-right: 60px;
  }

  &__bottom-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 65px;
  }

  &__bottom-item-paragraph {
    opacity: 0.5;
    font-size: 14px;
    line-height: percentage($number: 23px / 14px);

    &--address {
      margin-bottom: 20px;
    }

    &--email {
      color: #006dff;
      opacity: 1;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 1441px) {
  .contact {
    &__top {
      .container {
        margin-right: auto;
        padding: 0 15px;
      }
    }

    &__bottom {
      .container {
        margin-left: auto;
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .contact {
    &__top-info {
      padding-left: 20px;
    }

    &__top-title {
      font-size: 40px;
    }

    &__top-paragraph {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .contact {
    &__bottom-info {
      padding-top: 20px;
      padding-left: 20px;
    }

    &__bottom-item {
      padding-right: 20px;
    }

    &__bottom-item-title {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .contact {
    &__top-subtitle,
    &__top-title,
    &__top-paragraph {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .contact {
    &__top-info {
      padding-top: 50px;
      padding-right: 20px;
    }

    &__top-subtitle {
      font-size: 14px;
    }

    &__top-title {
      font-size: 32px;
    }

    &__top-paragraph {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    &__bottom-container {
      flex-direction: column-reverse;
    }

    &__bottom-info {
      justify-content: center;
      margin-bottom: 30px;
      flex-direction: column;
      padding: 20px 15px 0;
    }

    &__bottom-item {
      flex-basis: 0;
      padding-right: 0;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    &__bottom-item-title {
      margin-bottom: 5px;
    }

    &__bottom-item-paragraph {
      &--address {
        margin-bottom: 5px;
      }

      &--email {
        margin-top: 0;
      }
    }

    &__bottom-image img {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact {
    &__top-container {
      flex-direction: column;
    }

    &__top-info {
      padding: 50px 15px 0;
      margin-bottom: 30px;
    }

    &__top-subtitle,
    &__top-title,
    &__top-link {
      text-align: center;
    }

    &__top-paragraph {
      text-align: justify;
    }

    &__top-image img {
      margin: 0 auto;
    }
  }
}
