.expertise {
  &__title {
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: percentage($number: 23px / 16px);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
  }

  &__top {
    display: flex;
    max-width: 1440px;
    margin: 0 auto 120px;
    color: $light-color;
  }

  &__top-block {
    flex-basis: 360px;
    min-height: 360px;
    padding: 72px 52px 0;
    transition: all $transition-duration;
    position: relative;

    &:hover {
      z-index: 5;
    }

    &--pink {
      background-color: #ffe2de;

      &:hover {
        box-shadow: 0 0 10px #ffe2de,
        0 0 25px #ffe2de,
        0 0 40px #ffe2de;
      }
    }

    &--green {
      background-color: #c4e769;

      &:hover {
        box-shadow: 0 0 10px #c4e769,
        0 0 25px #c4e769,
        0 0 40px #c4e769;
      }
    }

    &--cyan {
      background-color: #62d0df;

      &:hover {
        box-shadow: 0 0 10px #62d0df,
        0 0 25px #62d0df,
        0 0 40px #62d0df;
      }
    }

    &--blue {
      background-color: #0052c1;

      &:hover {
        box-shadow: 0 0 10px #0052c1,
        0 0 25px #0052c1,
        0 0 40px #0052c1;
      }
    }
  }

  &__top-block-text {
    font-weight: 500;
    font-size: 32px;
    line-height: percentage($number: 34px / 32px);
    padding-top: 23px;
    padding-left: 24px;
    position: relative;
    border-top: 1px solid #fff;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      left: 0;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #e9b730;
    }
  }

  &__middle {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto 22px;
    color: $light-color;
  }

  &__middle-block {
    width: percentage($number: 1 / 3);
    min-height: 480px;
    padding: 72px 52px 0;
    transition: all $transition-duration;
    position: relative;

    &:hover {
      z-index: 5;
    }

    &--darkblue {
      background-color: #22356f;

      &:hover {
        box-shadow: 0 0 10px #22356f,
        0 0 25px #22356f,
        0 0 40px #22356f;
      }
    }

    &--blue {
      background-color: #0052c1;

      &:hover {
        box-shadow: 0 0 10px #0052c1,
        0 0 25px #0052c1,
        0 0 40px #0052c1;
      }
    }

    &--imaged {
      background-image: url(../../src/images/nutrition.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:hover {
        box-shadow: 0 0 10px #b3d0ce,
        0 0 25px #b3d0ce,
        0 0 40px #b3d0ce;
      }
    }

    &--cyan {
      background-color: #62d0df;

      &:hover {
        box-shadow: 0 0 10px #62d0df,
        0 0 25px #62d0df,
        0 0 40px #62d0df;
      }
    }

    &--grey {
      background-color: #dee1ff;

      &:hover {
        box-shadow: 0 0 10px #dee1ff,
        0 0 25px #dee1ff,
        0 0 40px #dee1ff;
      }
    }

    &--orchid {
      background-color: #8f00ff;

      &:hover {
        box-shadow: 0 0 10px #8f00ff,
        0 0 25px #8f00ff,
        0 0 40px #8f00ff;
      }
    }
  }

  &__middle-block-text {
    font-weight: 500;
    font-size: 32px;
    line-height: percentage($number: 34px / 32px);
    padding-top: 23px;
    padding-left: 24px;
    position: relative;
    border-top: 1px solid #fff;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      left: 0;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #e9b730;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto 77px;
  }

  &__bottom-block {
    width: percentage($number: 1 / 3);
    padding: 55px 77px 37px 105px;
  }

  &__bottom-block-title {
    font-weight: 500;
    font-size: 28px;
    line-height: percentage($number: 33px / 28px);
    margin-bottom: 28px;
  }

  &__bottom-block-text {
    font-size: 16px;
    line-height: percentage($number: 25px / 16px);
    opacity: 0.5;
  }
}

@media screen and (max-width: 1440px) {
  .expertise {
    &__top {
      margin-bottom: 30px;
    }

    &__top-block-text,
    &__middle-block-text {
      font-size: 24px;
    }

    &__bottom-block {
      padding: 30px;
    }

    &__bottom-block-title {
      text-align: center;
    }

    &__bottom-block-text {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 960px) {
  .expertise {
    &__top {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__top-block {
      min-height: 200px;
    }

    &__middle-block {
      width: 50%;
      min-height: 200px;
    }

    &__bottom {
      margin-bottom: 30px;
    }

    &__bottom-block {
      width: 50%;
    }
  }
}

@media screen and (max-width: 720px) {
  .expertise {
    &__top-block {
      width: 100%;
      flex-basis: 100%;
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
    }

    &__bottom-block {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__bottom-block-title {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .expertise {
    &__bottom-block {
      width: 90%;
    }
  }
}

@media screen and (max-width: 480px) {
  .expertise {

    &__middle-block {
      width: 100%;
    }
  }
}
