.header {
  padding: 27px 131px 0 179px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: percentage($number: 1117px / 1440px);
    background-color: #f4f9e2;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 500;
    color: $emphasis-color;
    font-size: 24px;
    line-height: percentage($number: 27px / 24px);
    transition: all $transition-duration;

    &:hover {
      transform: $transform-scale;
    }
  }

  &__mobile {
    position: absolute;
    top: 53px;
    width: 100%;
    background-color: #f4f9e2;
    text-align: center;
    z-index: 10;
  }

  &__mobile-list {
    display: none;
  }

  &__mobile-link {
    font-weight: 400;
    font-size: 14px;
    line-height: percentage($number: 16px / 14px);
    padding: 12px 5px;
    border-bottom: 2px solid transparent;
    transition: all $transition-duration;

    &:hover {
      font-weight: 500;
      border-bottom-color: #22356f;
    }
  }

  &__mobile-button {
    position: absolute;
    top: -46px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 25px;
    z-index: 6;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "icomoon", sans-serif;
      content: "\e9bd";
    }

    &--opened {
      font-size: 20px;

      &::before {
        content: "\ea0f";
      }
    }
  }

  &__contact {
    font-size: 14px;
    line-height: percentage($number: 16px / 14px);
    text-transform: uppercase;
    font-weight: 500;
    color: $light-color;
    background-color: $emphasis-color;
    padding: 20px 30px;
    border-radius: 50px;
    transition: all $transition-duration;
    position: relative;
    z-index: 6;

    &:hover {
      // Neon light
      box-shadow: 0 0 10px $emphasis-color,
        0 0 25px $emphasis-color,
        0 0 40px $emphasis-color
    }
  }
}

@media screen and (min-width: 1600px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    padding-left: 20px;
  }
}

@media screen and (max-width: 850px) {
  .header {
    padding-right: 0;
    padding-left: 0;

    &::before {
      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding-top: 15px;
    padding-bottom: 50px;

    &__container {
      flex-direction: column;
    }

    &__logo,
    &__nav {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    &__nav {
      display: none;
    }
  }
}

@media screen and (min-width: 401px) {
  .header {
    &__nav {
      display: flex;
    }

    &__mobile {
      display: none !important;
    }
  }
}
