.showcase {
  padding: 170px 0 75px 179px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: percentage($number: 1117px / 1440px);
    background-color: #f4f9e2;
  }

  &__image {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 2;
  }

  &__container {
    position: relative;
  }

  &__content {
    max-width: 485px;
    position: relative;
  }

  &__subtitle {
    font-weight: 500;
    color: $emphasis-color;
    font-size: 24px;
    line-height: percentage($number: 27px / 24px);
    margin-bottom: 40px;
  }

  &__title {
    font-size: 48px;
    line-height: percentage($number: 53px / 48px);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
  }

  &__description {
    font-size: 24px;
    line-height: percentage($number: 42px / 24px);
    margin-bottom: 60px;
  }

  &__links {
    display: flex;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: percentage($number: 23px / 16px);
    text-transform: uppercase;
    padding: 10px 30px;
    color: #f9b640;
    transition: all 0.5s;

    &:not(:last-child) {
      margin-right: 38px;
    }

    &:hover {
      background-color: #f9b640;
      color: $light-color;
    }
  }
}
