.about {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 150px 424px 1px 106px;

  &__text {
    max-width: 592px;

    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    color: $dark-blue;
  }

  &__title {
    font-size: 16px;
    line-height: 22.5px;
    color: $dark-blue;
    text-transform: uppercase;

  }
}

@media screen and(max-width:$middle-screen) {
  .about {
    flex-direction: column;
    padding: 80px 70px 0;

    &__text {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
