.about {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 150px;

  @media (min-width:320px) and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    position: absolute;
    left: 106px;
    top: 156px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
    color: #22356f;

    @media (min-width: 320px) and (max-width: 1024px) {
      position: static;
      margin-bottom: 10px;
    }
  }

  &__content {
    max-width: 592px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    font-weight: bold;
    color: #223566;

    @media (min-width: 320px) and (max-width: 1024px) {
      max-width: 350px;
    }
  }
}
