.activities {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-auto-rows: 440px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-auto-rows: auto;
  }

  @media (min-width: 320px) and (max-width: 460px) {
    grid-template-columns: repeat(1, minmax(50%, 1fr));
    grid-auto-rows: auto;
  }

  @each $index,
    $color in $colors {
    &__item:nth-child(#{$index}) {
      background: $color;
    }
  }

  &__item {
    box-sizing: border-box;
    padding: 126px 104px;
    display: flex;
    position: relative;

    &::before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      transform: translate(-200%, 150%);
      background-color: #e9b730;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      width: 70%;

      height: 1px;
      transform: translate(-50%, -50%);
      background-color: #fff;
    }

    &-title {
      font-size: 32px;
      font-weight: bold;
      line-height: 34px;
      letter-spacing: -0.01em;
      color: #fff;

      @media (min-width: 320px) and (max-width: 1024px) {
        font-size: 1.3rem;
      }
    }

    &--3 {
      background-image: url(../images/activities_nutrition-photo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
