.course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  align-items: center;
  margin: 40px 0;

  &__item {
    padding: 0 30px;

  }

  &__title {
    @include font (28px, 33px, -0.03em);
    // font-family: "Larsseit";
    // font-size: 28px;
    // line-height: 33px;
    //letter-spacing: -0.03em;

    color: $color-text-and-contact-us;
    margin: 20px 0;

  }

  &__text {
    max-width: 280px;
    @include font (16px, 25px, -0.03em);
    // font-family: "Larsseit";
    // font-size: 16px;
    // line-height: 25px;
    // letter-spacing: -0.03em;

    color: rgba(34, 53, 111, 0.5);
  }

  @media (max-width: 955px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 200px);
  }

  @media (max-width: 670px) {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 200px);
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
