.footer {
  height: 80px;
  background: $why-thrive;
  position: relative;

  &__content {
    padding: 0 6vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include font (14px, 11px, -0.01em);
    color: $white-color;
  }
  
  &__item {
    margin-left: 10px;
  }
}
