.health {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px , 1fr));
  grid-template-rows: repeat(2, minmax(200px , 400px));
  justify-content: center;

  @media (max-width: 955px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 300px);
  }

  @media (max-width: 670px) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 300px);

  }

  &__box-empty {
    border-bottom: 1px solid $white-color;
    box-shadow: inset 0 -1px 0 $white-color;
    width: 80%;
    margin: 75px auto 23px;
  }

  &__list {
    position: absolute;
    @include font (32px, 34px, -0.01em);

    color: $white-color;
    display: block;
    max-width: 157px;
    top: 95px;
    left: 20%;

  }

  &__item {

    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 12%;
      top: 105px;

      width: 9px;
      height: 9px;

      background-color: #e9b730;
      border-radius: 50%;
    }

    &:nth-child(1) {
      background-color: #22356f;
    }
    &:nth-child(2) {
      background-color: #0052c1;
    }
    &:nth-child(3) {
      background-image: url(../images/ice-strawberry.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &:nth-child(4) {
      background-color: #62d0df;
    }
    &:nth-child(5) {
      background-color: #dee1ff;
    }
    &:nth-child(6) {
      background-color: #8f00ff;
    }
  }
}
