.header {
  position: relative;
  box-sizing: border-box;
  padding: 27px 179px 78px;
  background-color: #f4f9e2;

  @media (max-width: 1024px) {
    padding: 27px 60px 78px;
  }

  // @media (min-width:320px) and (max-width: 460px) {
  //   padding: 30px;
  // }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 174px;

    @media (min-width: 320px) and (max-width: 480px) {
      flex-direction: column;
    }
  }

  &__logo-link {
    align-self: flex-start;
    font-size: 24px;
    color: $color-blue;
    font-weight: bold;

    @media (min-width: 320px) and (max-width: 480px) {
      margin: 0 auto;
    }
  }

  &__link-call {
    text-decoration: none;
    display: block;
    background-color: $color-blue;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 50px;
    z-index: 2;

    @media (min-width: 320px) and (max-width:460px) {
      margin-top: 30px;
      padding: 10px 15px;
    }
  }
}
