.help-you {

  &__title {
    @include font (16px, 19px, 0.06em);
    // font-family: "Larsseit";
    // font-size: 16px;
    // line-height: 19px;
    text-align: center;
    //letter-spacing: 0.06em;

    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 24px;
  }

  &__cards {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(300px, 1fr);
    margin-bottom: 120px;

    @media (max-width: 955px) {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 250px);
    }

    @media (max-width: 670px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 200px);
    }
  }

  &__item {
    position: relative;
    list-style-type: disc;
    @include font (32px, 34px, -0.01em);
    // font-family: "Larsseit";
    // font-size: 32px;
    // line-height: 34px;
    // letter-spacing: -0.006em;
    //text-align: center;

    color: #fff;

    &:before {
      content: "";
      position: absolute;
      left: 9%;
      top: 90px;

      width: 9px;
      height: 9px;

      background-color: #e9b730;
      border-radius: 50%;
    }

    &:nth-child(1) {
      background-color: #ffe2de;
    }
    &:nth-child(2) {
      background-color: #c4e769;
    }
    &:nth-child(3) {
      background-color: #62d0df;
    }
    &:nth-child(4) {
      background-color: #0052c1;
    }

  }

  &__box-empty {
    //margin-top: 55px;
    border-bottom: 1px solid $white-color;
    width: 80%;
    margin: 55px auto 23px;
  }

  &__list {
    position: absolute;
    max-width: 200px;
    top: 75px;
    left: 20%;
  }

}
