.intro {
  width: 50%;
  //   position: relative;

  &__logo-link {
    color: $color-blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.04em;
  }

  &__title {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.04em;

    color: #22356f;
  }

  &__text {
    font-size: 24px;
    line-height: 42px;

    color: #22356f;
  }

  &__link {
    display: inline-block;
    margin-top: 63px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    border: 1px solid #f9b640;

    &--main {
      color: #fff;
      background-color: #f9b640;
      margin-right: 20px;
      transition: border-radius 0.2s linear;

      &:hover {
        color: #f9b640;
        border-radius: 50px;
        background-color: #fff;
      }
    }

    &--additional {
      border-color: transparent;
      color: #f9b640;
      border-radius: 50px;
      transition: border 0.2s linear;

      &:hover {
        border: 1px solid #f9b640;
      }
    }
  }

  &__background-white {
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    background-color: #fff;
  }

  &__background-blue {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
  }

  &__background-image {
    position: absolute;
    top: 100px;
    right: 0;
    height: 350px;
    width: 50%;
    background-image: url(../images/header_photo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 312.16px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0)
      scale(-1, 1) rotate(25deg)
      translateX(-10%);
  }
}
