.intro {
  width: 50%;

  @media (min-width: 320px) and (max-width: 1024px) {
    width: 100%;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__logo-link {
    display: block;
    color: $color-blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.04em;
    color: #22356f;
    margin-bottom: 60px;
  }

  &__text {
    font-size: 24px;
    line-height: 42px;
    color: #22356f;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 320px) and (max-width:460px) {
      justify-content: center;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 63px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    border: 1px solid #f9b640;

    &--main {
      color: #fff;
      background-color: #f9b640;
      margin-right: 20px;
      transition: border-radius 0.2s linear,
        background-color 0.2s linear;

      @media (min-width: 320px) and (max-width:460px) {
        margin-right: 0;
      }

      &:hover {
        color: #f9b640;
        border-radius: 50px;
        background-color: #f4f9e2;
      }
    }

    &--additional {
      border-color: transparent;
      color: #f9b640;
      border-radius: 50px;
      transition: border 0.2s linear;

      &:hover {
        border: 1px solid #f9b640;
      }
    }
  }
}
