.nav {
  position: relative;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    margin-left: 50px;
    @include font (14px, 16px, normal);
    padding-bottom: 10px;

    color: $color-text-and-contact-us;

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $color-text-and-contact-us;
        border-radius: 8px;
      }
    }
  }

  @media (max-width: 850px) {
    &__item:nth-child(1) {
      margin: 0;
    }

    &__list {
      padding: 0;
    }
  }
  @media (max-width: 670px) {

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      z-index: 1;
    }
    &__item {
      margin: 0;
      &:first-child {
        &::after {
          content: "";
          position: absolute;
          bottom: 10px;
          left: 0;

          width: 100%;
          height: 2px;

          background-color: $color-text-and-contact-us;
          border-radius: 8px;
        }
      }
    }

    &__link {
      @include font (20px, 24px, normal);
    }
  }
}
