.why-thrive {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  padding-left: 178px;

  background-color: $color-blue;

  @media (max-width: 1200px) {
    padding-left: 78px;
  }

  @media (min-width: 320px) {
    padding-left: 20px;
  }

  &__content {
    align-self: center;
    max-width: 555px;
    height: 235px;
  }

  &__title {
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;
    margin-bottom: 75px;

    color: #fff;
  }

  &__text-strong {
    margin-top: 75px;
    font-size: 24px;
    font-weight: bold;
  }

  &__text {
    font-size: 20px;
    line-height: 35px;

    color: #fff;
  }

  &__photo {
    height: 604px;
    background-image: url(../images/why_thrive_photo.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
  }
}
