.why-thrive {
  display: flex;
  justify-content: space-between;

  &__content {
    padding: 0 6vw;
    background: $why-thrive;
  }

  &__title {
    @include font (36px, 27px, -0.01em);
    padding: 75px 0;
    margin-top: 75px;

    color: $white-color;
  }

  &__text {
    max-width: 540px;
    @include font (24px, 35px, normal);
    padding-bottom: 75px;
    color: $white-color;

  }

  &__text_bold {
    font-size: 24px;
    font-weight: bold;
  }

  &__img {
    object-fit: cover;
    object-position: left;
    height: 100%;
  }

  @media (max-width: 955px) {
    position: relative;
    justify-content: center;
    align-items: center;
    &__content {
      padding: 0 8vw;
      background: $why-thrive;
      width: 100%;
    }
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;
      height: 100%;

      opacity: 0.2;
      transform: translate(-50%, -50%);
    }

    &__text {
      z-index: 1;
    }
    &__title {
      z-index: 1;
    }
  }
}
