.you-know {
  display: flex;
  justify-content: space-between;

  &__content {
    padding: 4vw;
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__title {
    @include font (16px, 20px, 0.06em);

    color: $color-text-and-contact-us;
  }

  &__text {
    @include font (36px, 53px, -0.01em);
    padding: 9vw 0 8vw;

    color: $color-text-and-contact-us;

    &_active {
      color: $why-thrive;
    }
  }

  &__link {
    @include font (16px, 23px, 0.01em);
    display: flex;
    align-items: center;

    color: $color-link;
  }

  @media (max-width: 955px) {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
      z-index: 1;
    }
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      opacity: 0.2;
      transform: translate(-50%, -50%);
    }

  }
}
