.about {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: end;
  background-color: #fff;
  height: 361px;

  &__header {
    width: 93px;
    padding-left: 106px;
    align-self: center;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356f;
  }

  &__info {
    justify-self: center;
    font-size: 24px;
    color: #22356f;
    width: 592px;
  }
}
