.wehelp {
  display: flex;
  justify-content: center;

  &__box {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 360px;
    padding: 125px 0 0;

    &:nth-child(1) {
      background-color: #ffe2de;
    }
    &:nth-child(2) {
      background-color: #c4e769;
    }
    &:nth-child(3) {
      background-color: $greenblueColor;
    }
    &:nth-child(4) {
      background-color: $blueColor;
    }
  }
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: $mainColor;

  &::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    top: -30px;
    background-color: $mainColor;
  }

  &::after {
    content: "";
    top: 16px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #e9b730;
  }

  &:hover {
    transform: scale(1.1);
    transition: linear 0.5s;
  }
}

.main__wehelp {
  position: relative;
  margin-bottom: 121px;
  
  &__box {
    padding-top: 24px;
    
  }
}

@media (max-width: 980px) {
  .wehelp {
    flex-direction: column;
    align-items: center;

    &__box {
      min-width: 280px;
      margin-bottom: 80px;
    }
  }

  .main__wehelp {
    margin-bottom: 0;
  }
}

@media (max-width: $Mobile) {
  .wehelp {
    &__box {
      width: 100%;
      margin-bottom: 80px;
    }
  }
}
