.about {
  &__container {
    @extend %container;
    display: flex;
    flex-direction: column;
  }
  &__text {
    display: flex;
    margin: 156px 0 76px 106px;
    color: $colorDarkBlue;
  }
  &__title {
    margin-right: 225px;
    @extend %title;
  }
  &__paragraph {
    font-weight: 500;
    width: 592px;
    height: 210px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }
  &__help {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
  }
}
