.about-us {
  &__container {
    margin: 0 auto;

    padding: 103px 0;
    max-width: 1230px;

    @include onTablet {
      padding: 150px 0 24px;
    }
  }

  &__title {
    &-top {
      margin: 0 58px;

      color: $c-darkblue;
      text-transform: uppercase;
      text-align: center;

      @include textSize16_23;

      @include menuTop {
        text-align: left;
      }

      @include onTablet {
        margin: 0;
      }
    }

    &-down {
      margin: 0 58px;

      color: $c-gray;
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      @include menuTop {
        text-align: left;
      }

      @include onTablet {
        margin: 0;

        text-align: center;
      }
    }
  }

  &__paragraph {
    margin: 76px auto;

    color: $c-darkblue;
    max-width: 590px;
    text-align: justify;
    font-weight: 600;

    @include textSize16_23;

    @include size425 {
      @include textSize24_34;
    }

    @include onTablet {
      margin: -23px auto 76px;
      text-align: left;
    }
  }
}
