.about-us {
  padding-top: 150px;

  @include onTable {
    padding-top: 100px;
  }

  @include onMobile {
    padding-top: 30px;
  }

  &__title {
    display: none;
    text-align: center;
    margin: 25px;

    @include onMobile {
      display: block;
    }
  }

  &__text {
    width: 50%;
    margin: 0 auto;
    position: relative;

    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.5%;

    color: $colorBlue;

    @include onMobile {
      width: 80%;
      font-size: 20px;
      line-height: 24px;
    }

    &::before {
      position: absolute;
      content: "ABOUT US";
      left: -40%;

      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: $colorBlue;

      @include onMobile {
        display: none;
      }
    }
  }
}
