.advice {
  margin-bottom: 40px;
  @include maxWidth;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 270px;

  @include laptop {
    grid-auto-rows: 300px;
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  &__block {
    padding: 55px 50px 37px 105px;

    @include laptop {
      padding-inline: 40px;
    }

    @include tablet {
      padding-inline: 35px;
    }
    @include mobile {
      padding-top: 20px;
      padding-inline: 30px;
    }
  }

  &__heading {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: $linkColor;

    @include tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &__article {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);

    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 20px;
    }
  }
}
