
.advices {
  margin-bottom: 40px;

  @include onMobile {
    margin-bottom: 125px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  &__item {
    flex: 1 1 33.33%;
    transition: 0.5s;

    &:hover {
      transform: translate(25px,-25px);
      box-shadow: -13px 21px 30px 2px rgba(98, 208, 223, 0.36);
    }

    @include onMobile {
      flex: 1 1 100%;
    }
  }
}
