.also-know {
  /* display: grid;
  grid-template-columns: 480px 1fr; */
  display: flex;
  background-color: $step-color-light;
  grid-template-rows: 800px;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    height: 800px;
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 106px;
    padding-right: 175px;
  }

  &__header {
    padding-bottom: 103px;

    font-size: 16px;
    line-height: 13px;
    color: $step-color-dark;
  }

  &__paragraph {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;

    color: $step-color-dark;
  }

  &__link {
    padding-top: 100px;
    color: $btn-color;
  }
}
