.also-know {
  display: grid;
  grid-template-columns: 480px 1fr;
  background-color: #fff;
  grid-template-rows: 800px;

  &__image {
    height: 800px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 106px;
    padding-right: 175px;
  }

  &__header {
    padding-bottom: 225px;
    font-size: 16px;
    line-height: 13px;
    color: #22356f;
  }

  &__paragraph {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;

    color: #22356f;
  }

  &__link {
    padding-top: 152px;
    color: #fab63e;
  }
}
