.box-text {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 25px;

  color: rgba(34, 53, 111, 0.5);
}
