.box-6 {
  font-size: 32px;
  line-height: 34px;
  color: $White;

  &::before {
    position: relative;
    top: -24px;
    right: 10px;
    content: "";
    display: block;
    width: 120%;
    height: 1px;
    background-color: $White;
  }

  &::after {
    position: relative;
    top: -25px;
    left: -15px;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $brightOrange;
  }

  &:hover {
    transform: scale(1.1);
    transition: linear 0.5s;
  }
}
