.buttons {
  display: flex;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color: #f9b640;
    font-size: 16px;
    line-height: 23px;
    font-weight: 550;
    letter-spacing: 0.1em;
    &:hover {
      background-color: #f9b640;
      color: $colorWhite;
    }
    &--blue {
      color: $colorBlue;
      margin-bottom: 42px;
      &:hover {
        background-color: $colorBlue;
        color: $colorDarkBlue;
      }
    }
  }
}
