.can-help {

  &__title {
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.6%;
    color: rgba(34, 53, 111, 0.5);
  }

  &__cards {
    display: flex;
    margin-bottom: 120px;

    @include onMobile {
      flex-wrap: wrap;
      margin-bottom: 75px;
    }
  }

  $cardsColors:
    "pink" #ffe2de,
    "green" #c4e769,
    "sky" #62d0df,
    "blue" #0052c1;

  @each $name, $cardColor in $cardsColors {
    &__card--#{$name} {
      background-color: $cardColor;
    }
  }
  
  &__card {
    flex: 1 1 25%;

    @include onMobile {
      flex: 1 1 50%;
    }
  }
}
