.contact-us {
  display: flex;

  @include onMobile {
    margin-bottom: 50px;
  }

  &__important {
    transition: 1s;
    transition-delay: 0.3s;
  }

  &:hover &__important {
    background-color: $colorSky;
    color: #fff;
  }

  &__content {
    flex: 1 1 66.66%;
    padding: 105px 200px 40px 180px;
    background-color: $colorBlue;
    color: #fff;

    @include onNotebook {
      padding: 80px 150px 30px 135px;
    }

    @include onTable {
      padding: 50px 75px 20px;
    }

    @include onMobile {
      flex: 1 1 100%;
      padding: 15px;
    }
  }

  &__image {
    flex: 1 1 33.33%;
    @include image("../images/contact-us.png");

    @include onMobile {
      display: none;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 6%;

    margin-bottom: 225px;

    @include onNotebook() {
      margin-bottom: 170px;
    }

    @include onTable {
      margin-bottom: 100px;
    }

    @include onMobile {
      text-align: center;
      padding-top: 25px;
      margin-bottom: 100px;
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -1%;
    color: #fff;

    margin-bottom: 75px;

    @include onNotebook {
      margin-bottom: 60px;
    }

    @include onTable {
      margin-bottom: 50px;
    }

    @include onMobile {
      text-align: center;
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__text {
    font-size: 36px;
    line-height: 53px;

    margin-bottom: 152px;

    @include onNotebook() {
      margin-bottom: 120px;
    }

    @include onTable {
      margin-bottom: 100px;
    }

    @include onMobile {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 50px;
      padding: 0 30px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: translateX(10px);
      background-color: $colorSky;
      color: #fff;
    }

    @include onMobile {
      text-align: center;
      padding-bottom: 75px;
    }
  }
}
