.cta {
  &__content {
    display: flex;
    flex-direction: column;

    @include laptopScreen {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    @include laptopScreen {
      width: inherit;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info-container {
    padding: 30px;

    @include laptopScreen {
      padding: 43px 100px 32px 66px;
    }
    @include desktopScreen {
      padding: 103px 175px 42px 106px;
    }
  }

  &__title {
    line-height: 12px;
    letter-spacing: 0.06em;
    font-weight: bold;
    margin-bottom: 90px;

    @include laptopScreen {
      margin-bottom: 225px;
    }
  }

  &__text {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;

    color: $hColor;
    margin-bottom: 50px;

    @include laptopScreen {
      margin-bottom: 152px;
    }
  }

  &__link {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
  }
}
