.facts {
  display: flex;

  &__foto {
    height: 800px;
    width: 480px;
    margin-right: 100px;

    background: center/ cover no-repeat url("../images/men1.png");
  }

  &__heading {
    position: relative;
    margin-top: 348px;
    width: 676px;
    padding-right: 50px;

    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;

    &::after {
      position: absolute;
      content: "You should also know";
      top: -225px;
      left: 0;

      font-size: 16px;
      line-height: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  &__link {
    display: flex;
    padding-top: 90px;
    
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: $orangeColor;

    text-decoration: none;
    text-transform: uppercase;
    transition: color 1s;

    &:hover {
      color: $greenblueColor;
    }
  }

  &__logo {
    color: $greenblueColor;
  }
}

@media (max-width: 1000px) {
  .facts {
    padding-bottom: 20px;

    &__foto {
      display: none;
    }

    &__link {
      padding-top: 46px;
      margin-left: 30px;
    }

    &__heading {
      text-align: center;
      font-size: 30px;
      margin-top: 48px;
      padding: 40px;
      width: 100%;
      
      &::after {
        top: 5px;
        left: 50px;
      }
    }
  }
}
