.footer {
  @include maxWidth;
  color: #fff;
  background-color: $lightBlueColor;
  padding: 32px 0 26px 192px;
  margin-top: 50px;

  @include mobile {
    padding-inline: 60px;
  }

  &__copyright {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
  }
}
