.header {
  background: linear-gradient(to right, #f4f9e2 50%, 50%, $colorWhite 50%);
  &__container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: $width;
    overflow: hidden;
  }
  &__top {
    position: absolute;
    top: 27px;
    left: 179px;
    margin: auto;
    z-index: 2;
  }
  &__text {
    position: relative;
    left: 0;
    top: 0;
  }
  &__picture {
    overflow: hidden;
    z-index: 1;
  }
}
