.header-text {
  width: 78%;
  height: 840px;
  background-color: #f4f9e2;
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 241px;
    left: 179px;
  }
  &__logo {
    height: 64px;
    z-index: 2;
  }
  &__title {
    height: 167px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.04em;
    color: $colorDarkBlue;
    z-index: 2;
  }
  &__paragraph {
    max-width: 469px;
    height: 161px;
    margin-bottom: 63px;
    font-size: 24px;
    line-height: 42px;
    color: $colorDarkBlue;
    z-index: 2;
  }
}

@media(max-width:1024px) {
  .header-text {
    &__container {
      left: 30px;
    }
    &__title {
      height: 120px;
      font-size: 38px;
    }
    &__paragraph {
      margin-bottom: 50px;
      font-size: 20px;
    }
  }
}

@media(max-width: 500px) {
  .header-text {
    &__container {
      top: 150px;
      left: 30px;
      margin: auto;
    }
    &__title {
      height: fit-content;
      font-size: 28px;
    }
    &__paragraph {
      height: fit-content;
      font-size: 20px;
      margin: 0 0 50px;
    }
  }
}

@media(max-width: 340px) {
  .header-text__paragraph {
    margin: 0 0 15px;
  }
}
