.header {
  background-color: #f4f9e2;
  overflow: hidden;
  position: relative;

  &__detail {
    margin-left: 180px;
    z-index: 3;
  }

  &__logo {
    margin: 35px 0 187px;
    z-index: 3;
    text-decoration: none;
    cursor: pointer;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
  }

  &__nav {
    margin-top: 30px;
    position: relative;
    z-index: 4;
  }

  &__fotopeople {
    position: absolute;
    top: 35px;
    right: 0;
    width: 630px;
    height: 690px;
    z-index: 2;
    background: center/ cover no-repeat url("../images/peoplenofull.png");
  }

  &__background {
    position: absolute;
    width: 320px;
    height: 890px;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: $mainColor;
  }

  &__oval {
    position: absolute;
    height: 750px;
    width: 510px;
    top: -75px;
    right: 65px;
    z-index: 1;
    border-radius: 312px;
    background-color: #edfdff;
    transform: rotate(25deg);
  }

  &__button {
    white-space: nowrap;
    padding: 19px 0;
    margin: 27px 190px 0 0;
    z-index: 3;
    background-color: $greenblueColor;
    border-radius: 50px;
    transition: transform 0.5s, background-color 0.5s;

    &:hover {
      transform: scale(1.1);
      background-color: $greenblueColor;
    }
  }
}

@media (max-width: $Mobile) {
  .header {
    background: center/ cover no-repeat url("../images/peoplefull.jpg");
    width: 100%;

    &__logo {
      margin-left: 0;
    }

    &__navigation,
    &__detail {
      margin-left: 40px;
    }
    
    &__fotopeople,
    &__oval,
    &__background {
      display: none;
    }

    &__button {
      position: absolute;
      top: 90px;
      left: 30px;
    }
  }
}
