.health {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 480px);

  &__box {
    padding: 90px 0 0;

    &:nth-child(1) {
      background-color: $darkBlueColor;
    }

    &:nth-child(2) {
      background-color: $blueColor;
    }

    &:nth-child(3) {
      background: center/ cover no-repeat url("../images/fruct.png");
    }

    &:nth-child(4) {
      background-color: $greenblueColor;
    }

    &:nth-child(5) {
      background-color: #dee1ff;
    }

    &:nth-child(6) {
      background-color: #8f00ff;
    }
  }
}

@media (max-width: 980px) {
  .health {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;

    &__box {
      align-items: center;
      width: 50%;
      min-width: $minwigth;
      height: 480px;
    }
  }
}

@media (max-width: $Mobile) {
  .health {
    &__box {
      width: 100%;
      margin-bottom: 80px;
    }
  }
}
