.help-block {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;

    &:nth-child(1) {
      background-color: #ffe2de;
    }
    &:nth-child(2) {
      background-color: #c4e769;
    }
    &:nth-child(3) {
      background-color: $softCyan;
    }
    &:nth-child(4) {
      background-color: $strongBlue;
    }
  }
}

@media (min-width: 520px) {
  .help-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 1050px) {
  .help-block {
    grid-template-columns: repeat(4, 1fr);
  }
}
