.help {
  background-color: $step-color-light;
  color: $step-color-light;
  font-size: 32px;
  line-height: 34px;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    padding-top: 76px;
    font-size: 16px;
    color: rgba(34, 53, 111, 0.5);

    @media screen and (max-width: 600px) {
      padding-top: 176px;
    }
  }

  &__small-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;

    @media screen and (max-width: 1439px) {
      gap: 10px;
      grid-template-columns: repeat(2, 360px);
      justify-content: space-evenly;
    }

    @media screen and (max-width: 959px) {
      grid-template-columns: repeat(1, 360px);
      justify-content: space-evenly;
    }
  }

  &__small {
    height: 360px;
    padding-top: 50px;
    padding-left: 30px;
    transition: 1s;

    @media screen and (max-width: 959px) {
      height: 200px;
      width: 250px;
      font-size: 28px;
      margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
      width: 250px;
    }

    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      transform: scale(1.1);
      z-index: 2;
    }

    &--pink {
      background-color: #ffe2de;

      &:hover {
        background-color: rgb(184, 114, 114);
      }
    }

    &--green {
      background-color: #c4e769;

      &:hover {
        background-color: rgb(67, 179, 113);
      }
    }

    &--blue {
      background-color: #62d0df;

      &:hover {
        background-color: rgb(45, 146, 153);
      }
    }

    &--darkblue {
      background-color: #0052c1;

      &:hover {
        background-color: rgb(59, 57, 163);
      }
    }
  }

  &__link {
    display: inline-block;
    height: 100%;
    padding-top: 30px;

    color: $step-color-light;
    border-top: 2px solid white;

    &::before {
      content: url(../images/Ellipse.svg) " ";
      width: 100%;
    }
  }

  &__big-blocks {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-content: center;

    @media screen and (max-width: 959px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__big {
    height: 480px;
    width: 480px;
    color: $step-color-light;
    padding-top: 100px;
    padding-left: 70px;
    transition: 1s;

    @media screen and (max-width: 959px) {
      height: 300px;
      width: 300px;
      padding-left: 40px;
    }

    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      transform: scale(0.9);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: black;
    }

    &--darkblue {
      background-color: $step-color-dark;

      &:hover {
        background-image: url(/images/physical.jpg);
      }
    }

    &--blue {
      background-color: #0052c1;

      &:hover {
        background-image: url(/images/mental.jpg);
      }
    }

    &--image {
      background-color: #618ac4;

      &:hover {
        background-image: url(/images/joanna-kosinska-340748.jpg);
      }
    }

    &--lightblue {
      background-color: $main-color;

      &:hover {
        background-image: url(/images/gymnastic.jpg);
      }
    }

    &--light {
      background-color: #dee1ff;

      &:hover {
        background-image: url(/images/crossfit.jpg);
      }
    }

    &--purple {
      background-color: #8f00ff;

      &:hover {
        background-image: url(/images/aerobic.jpg);
      }
    }
  }

  &__bottom-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px 105px;
    width: 480px;
    height: 240px;
    background-color: $step-color-light;
    transition: all 1s;

    @media screen and (max-width: 600px) {
      width: 310px;
      height: 200px;
      padding: 25px;
    }

    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      transform: scale(0.9);
    }
  }

  &__headers {
    font-size: 28px;
    line-height: 33px;
    color: $step-color-dark;

    @media screen and (max-width: 600px) {
      font-size: 22px;
    }
  }

  &__paragraph {
    color: rgba(34, 53, 111, 0.5);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;

    @media screen and (max-width: 600px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
