.help {
  @include maxWidth;
  margin-bottom: 120px;

  &__heading {
    margin-bottom: 24px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 360px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.01em;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__block {
    color: $whiteColor;
    padding-top: 30px;
    @include flexCenter;
    transition: background $transition;

    &--1 {
      background-color: $pinkColor;

      &:hover {
        background-image: url(/images/weight.jpg);
        @include background;
      }
    }

    &--2 {
      background-color: $lightGreenColor;

      &:hover {
        background-image: url(/images/running.jpg);
        @include background;
      }
    }

    &--3 {
      background-color: $lightBlueColor;

      &:hover {
        background-image: url(/images/iron.jpg);
        @include background;
      }
    }

    &--4 {
      background-color: $blueColor;

      &:hover {
        background-image: url(/images/iron.jpg);
        @include background;
      }
    }

    &-heading {
      position: relative;
      width: 232px;
      padding-top: 23px;
      padding-left: 20px;
      border-top: 2px solid;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 13%;
        left: 0;
        background: #e9b730;
        width: 9px;
        height: 9px;
        border-radius: 50%;
      }
    }
  }
}
