.help {
  background-color: $step-color-light;
  color: $step-color-light;
  font-size: 32px;
  line-height: 34px;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    padding-top: 76px;
    font-size: 16px;
    color: rgba(34, 53, 111, 0.5);
  }

  &__small-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;

    @media screen and (max-width: 1439px) {
      gap: 40px;
      grid-template-columns: repeat(2, 360px);
      justify-content: space-evenly;
    }

    @media screen and (max-width: 959px) {
      grid-template-columns: repeat(1, 360px);
      justify-content: space-evenly;
    }
  }

  &__small {
    height: 360px;
    padding-top: 50px;
    padding-left: 30px;

    &::before {
      content: url(../images/Rectangle2.1copy.svg);
    }

    &--pink {
      background-color: #ffe2de;
    }

    &--green {
      background-color: #c4e769;
    }

    &--blue {
      background-color: #62d0df;
    }

    &--darkblue {
      background-color: #0052c1;
    }
  }

  &__link {
    display: inline-block;
    height: 100%;
    padding-top: 30px;

    color: $step-color-light;

    &::before {
      content: url(../images/Ellipse.svg) " ";
    }
  }

  &__big-blocks {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-content: center;
  }

  &__big {
    height: 480px;
    width: 480px;
    color: $step-color-light;
    padding-top: 100px;
    padding-left: 70px;

    &::before {
      content: url(../images/Rectangle2.1.svg);
    }

    &--darkblue {
      background-color: $step-color-dark;
    }

    &--blue {
      background-color: #0052c1;
    }

    &--image {
      background-image: url(/images/joanna-kosinska-340748.jpg);
    }

    &--lightblue {
      background-color: $main-color;
    }

    &--light {
      background-color: #dee1ff;
    }

    &--purple {
      background-color: #8f00ff;

    }
  }

  &__bottom-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, 480px);
    justify-content: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px 105px;
    width: 480px;
    height: 240px;
    background-color: $step-color-light;
  }

  &__headers {
    font-size: 28px;
    line-height: 33px;
    color: $step-color-dark;
  }

  &__paragraph {
    color: rgba(34, 53, 111, 0.5);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
  }
}
