.info-block {
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;

  &__container {
    // padding: 30px 40px 20px;
    padding-bottom: 30px;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 33px;
    color: #22356f;
    padding-bottom: 28px;
  }

  &__text {
    text-align: center;
    width: 50%;
  }
}

@media (min-width: 900px) {
  .info-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__container {
      padding: 30px 40px 20px;
    }

    &__title {
      font-size: 25px;
      line-height: 33px;
      color: #22356f;
      padding-bottom: 28px;
    }

    &__text {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .info-block {
    &__title {
      white-space: nowrap;
    }
    &__text {
      font-size: 16px;
      line-height: 23px;
    }
  }
}
