.know {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  &__photo {
    max-width: 480px;
    max-height: 800px;

    @include tablet {
      align-self: center;
    }

    @include mobile {
      max-width: 320px;
    }
  }

  &__content {
    padding: 103px 150px 42px 50px;

    @include laptop {
      padding: 90px 40px 42px;
    }

    @include tablet {
      text-align: center;
      align-self: center;
      padding: 50px 20px 0;
    }

    @include mobile {
      padding: 10px;
    }
  }

  &__heading {
    text-transform: uppercase;
    padding-bottom: 225px;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: $linkColor;

    @include laptop {
      padding-bottom: 100px;
    }

    @include tablet {
      font-size: 14px;
      padding-bottom: 50px;
    }

    @include mobile {
      padding-block: 30px;
    }
  }

  &__article {
    max-width: 676px;
    padding-bottom: 152px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: $linkColor;

    @include tablet {
      font-size: 24px;
      padding-bottom: 50px;
    }

    @include mobile {
      padding-bottom: 25px;
    }
  }

  &__link {
    display: inline-block;
    color: $lightBlueColor;
    text-decoration: none;
    cursor: pointer;
    transition: transform $transition;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__button {
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: $orangeColor;
    font-size: 16px;
    cursor: pointer;
    line-height: 23px;
    letter-spacing: 0.1em;
    transition: background $transition, color $transition;

    &:hover {
      background: $orangeColor;
      color: $whiteColor;
    }
  }
}
