.main__help-block {
  position: relative;
  margin-bottom: 121px;

  &__container {
    padding-top: 24px;
  }
}

@media (max-width: 980px) {
  .help-block {
    flex-direction: column;
    align-items: center;

    &__container {
      min-width: 280px;
      margin-bottom: 80px;
    }
  }

  .main__help-block {
    margin-bottom: 0;
  }
}

@media (max-width: $Mobile) {
  .help-block {
    &__container {
      width: 100%;
      margin-bottom: 80px;
    }
  }
}
