.mdd {
  position: relative;

  @include onTablet {
    height: 800px;
  }

  &__image {
    width: 100%;

    @include onTablet {
      position: absolute;
      left: -2.55%;
      top: 0;
      max-width: 480px;
      max-height: 100%;
    }
  }

  &__container {
    margin: 0 auto;

    padding: 100px 0 42px;
    max-width: 676px;

    @include onTablet {
      margin: 0 0 0 47%;
    }

    @include onLaptop {
      margin: 0 0 0 40%;
    }
  }

  &__title {
    margin: 0 auto 103px;

    color: $c-darkblue;
    text-transform: uppercase;

    @include textSize16_12;

    @include onTablet {
      margin: 0 auto 225px;
    }
  }

  &__paragraph {
    margin: 0 0 152px;

    max-width: 676px;
    font-weight: 600;
    color: $c-darkblue;

    @include textSize16_23;

    @include size425 {
      font-size: 22px;
      line-height: 147%;
      letter-spacing: -0.01em;
    }

    @include menuTop {
      text-align: left;

      @include titleSize36_53;
    }

    @include onTablet {
      font-size: 28px;
      line-height: 147%;
      letter-spacing: -0.01em;
    }

    @include onLaptop {
      @include titleSize36_53;
    }

    &-colortext {
      color: $c-cyan;
    }
  }

  &__buttons {
    &--button {
      width: 125px;
      height: 42px;
      color: $c-gold;

      @include textSize16_23;
    }
  }
}
