.nav {
  color: $darkBlueColor;
  
  &__list {
    display: flex;
  }
  
  &__item {
    list-style: none;
    padding: 0 10px 5px;
    margin: 0 10px;
    transition: transform 0.5s color 0.5s;

    &:hover {
      color: $greenblueColor;
      transform: scale(1.3);
      transition: 0.5s linear;
      border-bottom: 1px solid $darkBlueColor;
    }
  }
  &__link {
    color: $darkBlueColor;
    padding: 10px;
    text-decoration: none;
  }
}

@media (max-width: $Mobile) {
  .nav {
    &__list {
      flex-direction: column;
    }
    
    &__item {
      align-items: center;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
      padding: 5px ;
      font-size: 15px;
    }
  }
}
