.nutritional-facts {
  &__container {
    margin: 100px auto 90px;

    @include menuTop {
      margin: 0 auto 40px;

      display: grid;
      grid-template-columns: repeat(2, minmax(33%, 1fr));
    }

    @include onTablet {
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
  }

  &__block {
    margin: 0;
    height: 150px;

    @include menuTop {
      height: 240px;
    }
  }

  &__content {
    margin: 30px auto;

    width: 100%;

    @include menuTop {
      margin: 55px 16% 37px 22%;

      width: 62.5%;
      max-width: 300px;
    }
  }

  &__title {
    margin: 0 auto 28px;

    min-width: 234px;
    color: $c-darkblue;
    text-align: center;

    @include titleSize28;

    @include menuTop {
      margin: 0 0 28px;

      text-align: left;
    }
  }

  &__paragraph {
    margin: 0;

    width: 100%;
    text-align: justify;
  }
}
