.page {
  scroll-behavior: smooth;

  margin: 0;

  background: $c-white;
  font-family: "Larsseit", Arial, Helvetica, sans-serif;
  font-size: 16px;

  &__section {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}
