.some-info {
  display: flex;
  justify-content: space-between;

  &__photo-container {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__text-container {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    height: max-content;
    position: relative;

    margin: 48px 20px 38px 48px;
    gap: 32px;

    @include tablet {
      gap: 18px;
      margin: 98px 40px 74px 68px;
    }

    @include notebook {
      gap: 32px;
      right: 10%; // ophional
    }

    @media (min-width:600px) {
      flex-direction: row;
    }
  }

  &__card-tittle {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
    font-weight: 450;

    color: $dark-blue;

    width: max-content;
  }

  &__card-paragraph {
    max-width: max-content;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.01em;

    color: rgba(34, 53, 111, 0.5);

    margin-top: 32px;
  }

  &__card-link {
    color: inherit;
  }
}
