.thrivetalk {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 484px;
    color: #22356f;
  }

  &__subtittle {
    color: #87dae0;
  }

  &__img {
    overflow: hidden;

    top: 0;
    right: -200px;
    border-radius: 312px;
    width: 807px;
    height: 545px;
    transform: rotate(-15deg);
    z-index: -1;
    background-image: url(../images/linkedin-sales-navigator-406825.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.one {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
