.thrivetalk {
  display: flex;
  align-items: center;
  height: 740px;

  &__text {
    padding-left: 179px;
    height: 500px;
    width: 650px;
    color: $step-color-dark;
  }

  &__subtittle {
    color: $main-color;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
  }

  &__title {
    color: $step-color-dark;
    font-size: 48px;
    line-height: 53px;
    font-weight: bold;
  }

  &__paragraph {
    font-size: 24px;
    line-height: 42px;
    color: $step-color-dark;
    padding-bottom: 63px;
  }

  &__img {
    position: absolute;

    top: 140px;
    right: -100px;
    border-radius: 312px;
    width: 807px;
    height: 545px;
    transform: rotate(-15deg);
    z-index: -1;
    background-image: url(../images/linkedin-sales-navigator-406825.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__button {
    display: inline-block;
    width: 150px;
    height: 50px;

    line-height: 50px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $btn-color;

    &--yellow {
      background-color: $btn-color;
      color: $step-color-light;
    }
  }
}

.first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.one {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
