.top {
  display: flex;
  width: 1125px;
  justify-content: space-between;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: $colorBlue;
    color: $colorWhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-style: bold;
  }
}
