.who-thrive {
  position: relative;
  // background: $c-cyan;
  background: linear-gradient(to bottom, $c-cyan 99%, transparent 1%);

  @include onTablet {
    background: linear-gradient(to right, $c-cyan 99%, transparent 1%);
  }

  &__container {
    margin: 0 auto;

    padding: 150px 0 102px;
    max-width: 1080px;

    @include onTablet {
      padding: 150px 0 67px;
    }

    @include onLaptop {
      padding: 150px 0 102px;
    }
  }

  &__title {
    margin: 0 0 75px;

    text-align: center;
    color: $c-white;

    @include textSize24_42;

    @include size425 {
      @include titleSize28;
    }

    @include menuTop {
      text-align: left;

      @include titleSize36;
    }
  }

  &__paragraph {
    margin: 0;

    max-width: 553px;
    text-align: center;
    font-weight: 600;
    color: $c-white;

    @include textSize16_23;

    @include size425 {
      @include textSize24_34;
    }

    @include menuTop {
      text-align: left;
    }

    @include onTablet {
      max-width: 450px;
      text-align: left;
    }

    @include onLaptop {
      max-width: 553px;
    }

    &--textlight {
      font-size: 14px;
      line-height: 23px;
      font-weight: 300;

      @include size425 {
        font-size: 20px;
        line-height: 34px;
      }
    }
  }

  &__image {
    width: 100%;

    @include onTablet {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 525px;
      max-height: 100%;
    }
  }
}
