.why {
  background-color: $colorBlue;
  &__container {
    @extend %container;
    display: flex;
    color: $colorWhite;
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin: 151px 0 0 179px;
  }
  &__title {
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;
    margin-bottom: 75px;
  }
  &__paragraph {
    width: 555px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 181px;
    &--strong {
      font-size: 24px;
      line-height: 35px;
    }
  }
  &__photo {
    position: relative;
    right: 0;
  }
}

@media(max-width: 1437px) {
  .why__text {
    max-width: 60%;
  }
}

@media(max-width: 1024px) {
  .why__text {
    margin: 151px 0 30px 30px;
  }
}

@media(max-width: 1024px) {

  .why__title {
    font-size: 30px;
  }
  .why__paragraph {
    max-width: 90%;
    margin-right: 0;
    font-size: 18px;
    &--strong {
      font-size: 20px;
    }
  }
}

@media(max-width:700px) {
  .why__text {
    max-width: 90%;
    margin-top: 50px;
  }
  .why__photo {
    height: 300px;
    object-fit: cover;
  }
  .why__container {
    flex-direction: column;
  }
}
