.why {
  display: flex;
  width: 100%;

  &__space {
    flex: 1 1 10%;
    background-color: $colorSky;

    @include onMobile {
      display: none;
    }
  }

  &__content {
    flex: 1 1 45%;
    background-color: $colorSky;
    padding-bottom: 50px;

    @include onFull {
      padding-bottom: 75px;
    }

    @include onLarge {
      padding-bottom: 100px;
    }

    @include onMobile {
      padding: 0 15px 25px;
    }
  }

  &__title {
    padding-top: 150px;
    font-size: 36px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 75px;

    @include onTable {
      padding-top: 75px;
      margin-bottom: 50px;
    }

    @include onMobile {
      padding-top: 50px;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 35px;
    color: #fff;

    @include onMobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__image-block {
    flex: 1 1 35%;
    @include image("../images/why.png");

    @include onMobile {
      display: none;
    }
  }

}
