.why {
  position: relative;
  background: #62d0df;

  @include onTab {
    background: #62d0df url("../images/about-img.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }

  &__title {
    margin: 0;
    margin-bottom: 75px;

    font-weight: bold;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;

    color: #fff;
  }

  &__subtitle {
    margin: 0;
    max-width: 555px;

    font-size: 15px;
    line-height: 25px;

    color: #fff;

    @include onNotebook {
      font-size: 20px;
      line-height: 30px;
    }

    &--bold {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;

      @include onNotebook {
        font-size: 24px;
        line-height: 35px;
      }
    }
  }

  &__photo {
    position: absolute;
    right: 0;
  }
}
