.whyThrive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: max-content;

  background: $light-blue;

  &__big-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: max-content;
  }

  &-text-container {
    display: flex;
    flex-direction: column;
    margin: 32px;
    justify-content: space-around;
    // width: 240px;

    @include tablet {
      margin-top: 78px;
      margin-left: 78px;
      justify-content: center;
    }
  }

  &-tittle {
    display: flex;
    margin: 0;

    font-family: "Larsseit", sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;
  }

  &-paragraph {
    margin-top: 75px;

    font-family: "Larsseit", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    width: 50vw;

    @include tablet {
      height: max-content;
      width: 38vw;
      max-width: 556px;
      font-size: 24px;
      line-height: 35px;
      padding-right: 64px;

      @media (min-width:1100px) {
        width: 40vw;
      }
    }
  }

  &-photo-container {
    position: relative;
    display: none;
    object-fit: fill;
    height: max-content;

    @include tablet {
      right: -143px;
      height: 100%;
    }

    @media (min-width: 640px) {
      display: flex;
    }
  }

  &-img {
    position: relative;
    z-index: 0;
  }
}
