.health {
  padding-top: 120px;
  background-color: $backgroundColor;

  &__grid {
    display: grid;
    margin-top: 24px;
    grid-template-columns: repeat(3, 479.5px);
    grid-auto-rows: 480px;
    overflow: hidden;

    &-block--1 {
      background-image: url(../images/health/1.jpg);
    }
    &-block--2 {
      background-image: url(../images/health/2.jpg);
    }
    &-block--3 {
      background-image: url(../images/health/3.png);
    }
    &-block--4 {
      background-image: url(../images/health/4.jpg);
    }
    &-block--5 {
      background-image: url(../images/health/5.jpg);
      background-position: bo;
    }
    &-block--6 {
      background-image: url(../images/health/6.jpg);
    }
  }
}
