.should-know {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  background-color: $backgroundColor;

  &__image {
    object-fit: cover;
    width: 480px;

    @media (max-width: 1199px) {
      width: 350px;
    }
  }

  &__wrapper {
    margin: 103px 175px 42px 0;
    max-width: 676px;

    @media (max-width: 1436px) {
      margin: 103px 100px 42px 106px;
    }

    @media (max-width: 1199px) {
      margin: 70px 50px 42px 60px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    color: $textColor;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 225px;
    font-size: 36px;
    line-height: 53px;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: $textColor;

    @media (max-width: 1199px) {
      margin-top: 100px;
    }

    @media (max-width: 900px) {
      font-size: 24px;
    }
  }

  &__button {
    margin-top: 152px;
    margin-left: -$buttonHorizontalPadding;
  }
}
