.why {
  display: flex;
  justify-content: space-between;
  background-color: #62d0df;

  &__wrapper {
    margin-top: $whyPaddingTop;
    margin-left: $containerLeftPadding;
    margin-bottom: 95px;
    width: 555px;

    @media (max-width: 1437px) {
      width: 500px;
    }

    @media (max-width: 1300px) {
      margin-left: $containerLeftPadding1300px;
    }

    @media (max-width: 1024px) {
      margin-left: $containerPadding1024px;
      margin-top: 70px;
    }

    @media (max-width: 900px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 50%;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
  }

  &__description {
    margin-top: 75px;
    font-weight: 100;
    color: #fff;

    &--bold {
      font-weight: bold;
    }
  }

  &__image {
    width: 525px;
    object-fit: cover;
    object-position: left;

    @media (max-width: 1200px) {
      width: 350px;
    }

    @media (max-width: 768px) {
      width: 270px;
    }
  }
}
