.about-us {
  display: flex;
  padding: 150px 0 76px 106px;

  &__title {
    text-transform: uppercase;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356f;
  }

  &__description {
    margin: 0 auto;

    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #22356f;
  }

  @media screen and (max-width: 1000px) {
    padding: 75px 10px;
    flex-direction: column;
  }
}
