.about-us {
  width: 100%;
  height: 607px;
  padding: 0 0 0 179px;
  background: $button-color;

  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;

  &__info {
    max-width: 555px;
    height: 100%;
    padding-top: 130px;
    display: grid;
    grid-template-rows: 60px;
  }

  &__title {
    font-size: 36px;
  }

  &__paragraph {
    margin-top: 75px;
    font-size: 24px;
    &--size {
      font-size: 20px;
    }
  }

  &__girl {
    height: 607px;
    width: 34vw;
    object-fit: cover;
  }
}

.additional-info {
  display: grid;
  padding: 150px 420px 75px 106px;
  grid-template-columns: 1fr 2fr;
  gap: 200px;

  &__title {
    color: $navbar-color;
    font-size: 16px;
    font-weight: 400;
  }

  &__caption {
    color: $navbar-color;
    position: relative;
    font-size: 24px;
    line-height: 33px;
  }
}

@media screen and (max-width:1000px) {
  .about-us {
    height: auto;
    padding-left: 50px;
  
    &__girl {
      height: 100%;
    }

    &__info {
      padding-top: 10px;
      height: auto;
    }
  }
}

@media screen and (max-width:1200px) {
  .additional-info {
    padding-right: 50px;
  }
}

@media screen and (max-width:900px) {
  .additional-info {
    padding: 50px;
  }
}
