.block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 15%;
    top: 108px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e9b730;
  }
  

  &__top {
    position: absolute;
    left: 50%;
    width: 70%;
    height: 72px;
    border-bottom: 1px solid white;
    margin-bottom: 23px;
    transform: translateX(-50%);
  }

  &__name {
    position: absolute;
    top: 95px;
    left: 20%;
    max-width: 180px;
    @include font-manage(32px, 34px, -0.01em);
    color: white;
  }
}
