.contacts {
  display: flex;
  justify-content: space-between;

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $padding-global;

    background-color: $navyblue;

    color: white;
  }

  &__h {
    font-size: $font-size-xsmall;
  }

  &__p {
    font-size: $font-size-xlarge;

    &--strong {
      font-size: $font-size-xxxlarge;
    }
  }

  &__button {
    margin-bottom: 10px;
  }

  &__img {
    object-fit: cover;
    object-position: center;

  }
}
