.contacts {
  position: relative;

  display: flex;
  justify-content: space-between;

  &__article {
    @include adaptive-padding-all;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $padding-global;

    width: 100%;

    background-color: $navyblue;

    color: $white;
  }

  &__heading {
    margin-bottom: 50px;
    font-size: $font-size-xsmall;

    @media (min-width: 2000px) {
      font-size: $font-size-xsmall-lg-screen;
    }
  }

  &__text {
    margin-bottom: 50px;
    font-size: $font-size-xlarge;

    @media (min-width: 2000px) {
      font-size: $font-size-xlarge-lg-screen;
    }

    &--strong {
      font-size: $font-size-xxxlarge;

      @media (min-width: 2000px) {
        font-size: $font-size-xxxlarge-lg-screen;
      }
    }
  }

  &__button {
    margin-bottom: 10px;
  }

  &__image {
    @include mix-image(925px, 0.2);

    object-fit: cover;
  }
}
