.contacts {
  position: relative;

  display: flex;
  justify-content: space-between;

  &__article {
    @include adaptive-padding-all;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $padding-global;

    background-color: $navyblue;

    color: white;
  }

  &__h {
    margin-bottom: 50px;
    font-size: $font-size-xsmall;
  }

  &__p {
    margin-bottom: 50px;
    font-size: $font-size-xlarge;

    &--strong {
      font-size: $font-size-xxxlarge;
    }
  }

  &__button {
    margin-bottom: 10px;
  }

  &__img {
    @include mix-image(925px, 0.2);

    object-fit: cover;
    object-position: center;
  }
}
