.contact {
  display: flex;
  position: relative;

  &__description {
    z-index: 1;
    position: relative;
    background-color: $text-color1;
    padding: 103px 40px 42px 180px;
    width: 100%;
  }

  &__title {
    margin-bottom: 230px;
    @include font-manage(16px, 12px, 0.06em);
    font-weight: normal;
    color: white;
  }

  &__catchword {
    margin-bottom: 75px;
    @include font-manage(64px, 94px, -0.01em);
    color: white;
  }

  &__text {
    max-width: 579px;
    margin-bottom: 100px;
    @include font-manage(36px, 53px, -0.01em);
    color: white;
  }

  &__link {
    padding-bottom: 5px;
    @include font-manage(16px, 24px, 0.01em);
    color: $service-color;
    transition: border-bottom 0.3s, color 0.3s;

    &:hover {
      border-bottom: 1px solid white;
      color: white;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }

  @media (max-width: $large-breakpoint) {

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      opacity: 0.4;
    }

    &__description {
      padding: 40px 5vw;
      margin: 0 auto;
      background-color: rgba(34, 53, 111, 0.6);
      text-align: center;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__catchword {
      margin-bottom: 50px;
      @include font-manage(42px, 62px, -0.01em);
    }

    &__text {
      margin: 0 auto 50px;
      @include font-manage(24px, 35px, -0.01em);
    }
  }
}
