.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__description {
    height: 240px;
  }

  &__title {
    width: 300px;
    position: relative;
    left: 22%;
    margin: 55px 0 28px;

    font-size: 28px;

    color: #22356f;
  }

  &__info {
    width: 300px;
    position: relative;
    left: 22%;

    color: rgba(34, 53, 111, 0.5);
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

    &__title,
    &__info {
      left: 0%;
      margin-left: 35px;
    }

    &__description {
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
    margin: 0 auto;

    &__info,
    &__title {
      left: 0%;
      margin-left: 10px;
    }

    &__description {
      height: 200px;
    }
  }
}
