@font-face {
  font-family: "Larsseit";
  // src: url("../fonts/Larsseit_family/Larsseit.woff") format("woff");
  src: url("../fonts/Larsseit_family/Larsseit-Medium.woff");
  font-weight: normal;
  font-style: normal;
}
