@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Thin/Larsseit-Thin.eot");
  src: local("Larsseit Thin"), local("Larsseit-Thin"),
      url("../fonts/Larsseit/Thin/Larsseit-Thin.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/Thin/Larsseit-Thin.woff2") format("woff2"),
      url("../fonts/Larsseit/Thin/Larsseit-Thin.woff") format("woff"),
      url("../fonts/Larsseit/Thin/Larsseit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/ThinItalic/Larsseit-ThinItalic.eot");
  src: local("Larsseit Thin Italic"), local("Larsseit-ThinItalic"),
      url("../fonts/Larsseit/ThinItalic/Larsseit-ThinItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/ThinItalic/Larsseit-ThinItalic.woff2") format("woff2"),
      url("../fonts/Larsseit/ThinItalic/Larsseit-ThinItalic.woff") format("woff"),
      url("../fonts/Larsseit/ThinItalic/Larsseit-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Light/Larsseit-Light.eot");
  src: local("Larsseit Light"), local("Larsseit-Light"),
      url("../fonts/Larsseit/Light/Larsseit-Light.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/Light/Larsseit-Light.ttf") format("truetype"),
      url("../fonts/Larsseit/Light/Larsseit-Light.woff2") format("woff2"),
      url("../fonts/Larsseit/Light/Larsseit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/LightItalic/Larsseit-LightItalic.eot");
  src: local("Larsseit Light Italic"), local("Larsseit-LightItalic"),
      url("../fonts/Larsseit/LightItalic/Larsseit-LightItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/LightItalic/Larsseit-LightItalic.woff2") format("woff2"),
      url("../fonts/Larsseit/LightItalic/Larsseit-LightItalic.woff") format("woff"),
      url("../fonts/Larsseit/LightItalic/Larsseit-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Regular/Larsseit-Regular.eot");
  src: local("Larsseit Regular"),
      url("../fonts/Larsseit/Regular/Larsseit-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/Regular/Larsseit-Regular.woff2") format("woff2"),
      url("../fonts/Larsseit/Regular/Larsseit-Regular.woff") format("woff"),
      url("../fonts/Larsseit/Regular/Larsseit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/RegularItalic/Larsseit-RegularItalic.eot");
  src: local("Larsseit Regular Italic"), local("Larsseit-RegularItalic"),
      url("../fonts/Larsseit/RegularItalic/Larsseit-RegularItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/RegularItalic/Larsseit-RegularItalic.woff2") format("woff2"),
      url("../fonts/Larsseit/RegularItalic/Larsseit-RegularItalic.woff") format("woff"),
      url("../fonts/Larsseit/RegularItalic/Larsseit-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Medium/Larsseit-Medium.eot");
  src: local("Larsseit Medium"), local("Larsseit-Medium"),
      url("../fonts/Larsseit/Medium/Larsseit-Medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/Medium/Larsseit-Medium.woff2") format("woff2"),
      url("../fonts/Larsseit/Medium/Larsseit-Medium.woff") format("woff"),
      url("../fonts/Larsseit/Medium/Larsseit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/MediumItalic/Larsseit-MediumItalic.eot");
  src: local("Larsseit Medium Italic"), local("Larsseit-MediumItalic"),
      url("../fonts/Larsseit/MediumItalic/Larsseit-MediumItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/MediumItalic/Larsseit-MediumItalic.woff2") format("woff2"),
      url("../fonts/Larsseit/MediumItalic/Larsseit-MediumItalic.woff") format("woff"),
      url("../fonts/Larsseit/MediumItalic/Larsseit-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Bold/Larsseit-Bold.eot");
  src: local("Larsseit Bold"), local("Larsseit-Bold"),
      url("../fonts/Larsseit/Bold/Larsseit-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/Bold/Larsseit-Bold.woff2") format("woff2"),
      url("../fonts/Larsseit/Bold/Larsseit-Bold.woff") format("woff"),
      url("../fonts/Larsseit/Bold/Larsseit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/BoldItalic/Larsseit-BoldItalic.eot");
  src: local("Larsseit Bold Italic"), local("Larsseit-BoldItalic"),
      url("../fonts/Larsseit/BoldItalic/Larsseit-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/BoldItalic/Larsseit-BoldItalic.woff2") format("woff2"),
      url("../fonts/Larsseit/BoldItalic/Larsseit-BoldItalic.woff") format("woff"),
      url("../fonts/Larsseit/BoldItalic/Larsseit-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/ExtraBold/Larsseit-ExtraBold.eot");
  src: local("Larsseit ExtraBold"), local("Larsseit-ExtraBold"),
      url("../fonts/Larsseit/ExtraBold/Larsseit-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/ExtraBold/Larsseit-ExtraBold.woff2") format("woff2"),
      url("../fonts/Larsseit/ExtraBold/Larsseit-ExtraBold.woff") format("woff"),
      url("../fonts/Larsseit/ExtraBold/Larsseit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/ExtraBoldItalic/Larsseit-ExtraBoldItalic.eot");
  src: local("Larsseit ExtraBold Italic"), local("Larsseit-ExtraBoldItalic"),
      url("../fonts/Larsseit/ExtraBoldItalic/Larsseit-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Larsseit/ExtraBoldItalic/Larsseit-ExtraBoldItalic.woff2") format("woff2"),
      url("../fonts/Larsseit/ExtraBoldItalic/Larsseit-ExtraBoldItalic.woff") format("woff"),
      url("../fonts/Larsseit/ExtraBoldItalic/Larsseit-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
