@font-face {
  font-family: "Larsseit";
  src: url("src/fonts/Larsseit family/Larsseit-Light.eot");
  src: url("src/fonts/Larsseit family/Larsseit-Light.ttf") format("wolf"),
    url("src/fonts/Larsseit family/Larsseit-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url(".src/fonts/Larsseit family/Larsseit-Medium.eot");
  src: url(".src/fonts/Larsseit family/Larsseit-Medium.woff") format("wolf"),
    url(".src/fonts/Larsseit family/Larsseit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("src/fonts/Larsseit family/Larsseit-Bold.eot");
  src: url(".src/fonts/Larsseit family/Larsseit-Bold.woff") format("wolf"),
    url(".src/fonts/Larsseit family/Larsseit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
