.footer {

  &__top {
    display: flex;
    position: relative;
  }

  &__img {
    width: 35%;
    object-fit: cover;
  }

  &__info {
    z-index: 1;
    display: flex;
    padding: 98px 20px 20px 5vw;
  }

  &__inner {
    margin-right: 70px;
  }

  &__title {
    margin-bottom: 65px;
    @include font-manage(14px, 11px, -0.01em);
    text-transform: uppercase;
    white-space: nowrap;
    color: $text-color1;
  }

  &__text {
    max-width: 210px;
    @include font-manage(14px, 23px, -0.01em);
    color: $text-color2;
  }

  &__phone {
    margin-top: 45px;
    @include font-manage(14px, 23px, -0.01em);
    color: $text-color2;
  }

  &__email {
    @include font-manage(14px, 23px, -0.01em);
    padding-bottom: 5px;
    color: $service-color;
    font-weight: bold;
    transition: color 0.2s;

    &:hover {
      border-bottom: 1px solid #f5cb80;
      color: #f5cb80;
    }
  }

  &__bottom {
    height: 80px;
    background-color: $service-color;
  }

  &__copyrigth {
    padding: 32px 0 26px 10vw;
    @include font-manage(14px, 11px, -0.01em);
    color: white;
  }

  @media (max-width: $large-breakpoint) {

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      opacity: 0.1;
    }

    &__info {
      flex-direction: column;
      width: 100%;
      padding: 40px 0 30px;
      text-align: center;
    }
    
    &__inner {
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 25px;
    }
  }
}
