.info-card {
  padding: 55px;

  line-height: 25px;
  color: $navyblue;

  &__heading {
    margin-bottom: 28px;
    font-size: $font-size-medium;
  }

  &__text {
    font-size: $font-size-xsmall;
  }

  @media (max-width: 768px) {
    padding: 30px;
  }
}
