.introduction {
  position: absolute;
  bottom: 75px;

  max-width: 470px;
  width: 90vw;

  color: $navyblue;

  &__h {
    margin-bottom: 40px;

    font-size: $font-size-xxlarge;

    @media (max-width: 600px) {
      font-size: $font-size-xlarge;
    }
  }

  &__p {
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
  }

  &__button:first-child {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    text-shadow: 0 0 10px white;
  }
}
