.introduction {
  // max-width: 470px;
  width: 90vw;

  color: $navyblue;

  &__heading {
    margin-bottom: 40px;

    font-size: $font-size-xxlarge;

    @media (max-width: 600px) {
      font-size: $font-size-xlarge;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
  }

  &__button:first-child {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    text-shadow: 0 0 10px white;
  }
  @media (min-width: 2000px) {
    width: 40vw;
  }
}
