.knowns {
  position: relative;
  display: flex;

  &__img {
    @include mix-image(992px, 0.2);

    object-fit: cover;
    object-position: center;
  }

  &__article {
    @include adaptive-padding-all;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $padding-global;
    color: $navyblue;
  }

  &__h {
    margin-bottom: 50px;

    font-size: $font-size-xsmall;
  }

  &__p {
    margin-bottom: 50px;
    
    font-size: $font-size-large;

    &--marked {
      color: $cyan;
    }
  }

  &__button {
    margin-bottom: 10px;
  }
}
