// ABOUT US
@media screen and (max-width:$middle-break-point) {
  .about-us {
    height: auto;
    padding-left: 50px;
  
    &__girl {
      height: 100%;
    }

    &__info {
      padding-top: 10px;
      padding-bottom: 20px;
      height: auto;
    }
  }
}

@media screen and (max-width:800px) {
  .about-us {
    grid-template-columns: 1fr;
    padding-left: 0;

    &__girl {
      width: 100%;
      height: 60vh;
    }

    &__info {
      margin-left: 20px;
    }
  }
}

//ADDITIONAL INFORAMATION

@media screen and (max-width:1200px) {
  .additional-info {
    padding-right: 50px;
  }
}

@media screen and (max-width:900px) {
  .additional-info {
    padding: 50px;

    grid-template-columns: 1fr;
    gap: 10px;

    &__title {
      text-align: center;
    }
  }
}

// CONTANCT

@media screen and (max-width:$middle-break-point) {
  .contact {
    &__container {
      height: auto;
    }

    &__photo {
      width: 32vw;
      height: auto;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .contact {
    &__container {
      flex-direction: column-reverse;
    }

    &__photo {
      width: 100%;
      height: 40vh;
    }
  }
}

// CONTENT - CONTACT

@media screen and (max-width:$middle-break-point) {
  .content {
    &__wrap {
      margin: 0;
    }

    &__title {
      margin-top: 10px;
    }

    &__mood {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .content {
    &__wrap {
      margin-left: 20px;
    }
  }
}

//ELIPSE

@media screen and (max-width:1100px) {
  .elipse {
    display: none;
  }
}

// FOOTER

@media screen and (max-width:$middle-break-point) {
  .footer {
    &__someinfo {
      grid-template-columns: 1fr;
      margin-top: 30px;
      gap: 40px;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .footer {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .bottom {
    text-align: center;
  }
}

// GENERAL INFO

@media screen and (max-width:$small-break-point) {
  .genral-info {
    height: auto;
    &__container {
      grid-template-columns: 1fr;
    }

    &__photo {
      height: 50vh;
      width: 100%;
    }

    &__caption {
      align-items: center;
    }
  }
}

@media screen and (max-width:$middle-break-point) {
  .genral-info {
    &__caption {
      margin-left: 20px;
    }
  }
}

//HEADER

@media screen and (max-width:1100px) {
  .header {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .header {
    height: auto;
    padding: 0;
  
    &__info {
      justify-items: start;
    }
  }
}

// HEALTH SECTION

@media screen and (max-width:$small-break-point) {
  .health {
    &__list {
      grid-template-columns: 1fr;
    }

    &__cards {
      padding-left: 20px;
    }
  }
}

// HEALTH EXERCISE

@media screen and (max-width:999px) {
  .health-exercise__wrapp {
    justify-items: center;
  }
}

@media screen and (max-width:$small-break-point) {
  .health-exercise__wrapp {
    justify-items: flex-start;
  }
}

@media screen and (max-width:420px) {
  .item {
    padding-left: 10px;
  }
}

// HELP

@media screen and (max-width: 1200px) {
  .help {
    &__list {
      grid-template-columns: 1fr 1fr;
      height: 800px;
    }
  }
}

@media screen and (max-width: $small-break-point) {
  .help {
    &__list {
      grid-template-columns: 1fr;
    }

    &__card {
      padding-left: 20px;
    }
  }
}

// INFO

@media screen and (max-width:1000px) {
  .info {
    justify-content: center;

    &__caption {
      text-align: center;
    }

    &__buttons {
      margin: 0 auto;

      padding-bottom: 20px;
    }
  }
}
