.nav {
  z-index: 2;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    margin-left: 50px;
    padding: 0 0 10px;
    @include font-manage(14px, 16px, normal);
    cursor: pointer;
    transition: transform 0.3s;

    &:first-child {
      margin-left: 0;
    }
    
    &:hover {
      transform: translateY(-5px);
    }

    &_active {
      
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $service-color;
      }
    }
  }

  &__link {
    color: $text-color1;

    &:hover {
      color: $service-color;
    }
  }
}

@media (max-width: $small-breakpoint) {
  .nav {

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      @include font-manage(25px, 25px, normal);
      margin: 0 0 20px;
    }
  }
}
