* {
  box-sizing: border-box;
}

ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
  padding: 0;

  color: #fff;

  font-family: "Larsseit", sans-serif;
  
  line-height: 1.5;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}
