.services {
  display: flex;
  flex-direction: column;

  &__title {
    @include font-manage(16px, 19px, 0.06em);
    font-weight: normal;
    color: $text-color2;
    margin: 0 auto 24px;
  }

  &__range {
    display: grid;
    grid-template-columns: repeat(4, minmax(235px, 1fr));
    grid-template-rows: repeat(1, minmax(360px, 1fr));
    margin-bottom: 120px;

    @media (max-width: $large-breakpoint) {
      grid-template-columns: repeat(2, minmax(50%, 1fr));
      grid-template-rows: repeat(2, minmax(300px, 1fr));
    }

    @media (max-width: $small-breakpoint) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, minmax(240px, 1fr));
      grid-row-gap: 1px;
    }

  }

  &__item {
    @extend %block-transition;

    &:nth-child(1) {
      background-image: url(../images/weight-lift.jpg);
    }

    &:nth-child(2) {
      background-image: url(../images/running.jpg);
    }

    &:nth-child(3) {
      background-image: url(../images/pump-1.jpg);
    }

    &:nth-child(4) {
      background-image: url(../images/pump-2.jpg);
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        @extend %block-img-template;
      }
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}):hover {
        opacity: 1;
      }
    }
  }
}
