.should-know {
  display: flex;
  position: relative;

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &__description {
    z-index: 1;
    padding: 103px 40px 42px 106px;
  }

  &__title {
    @include font-manage(16px, 12px, 0.06em);
    font-weight: normal;
    text-transform: uppercase;
    color: $text-color1;
    margin-bottom: 225px;
  }

  &__text {
    @include font-manage(36px, 53px, -0.01em);
    font-weight: bold;
    color: $text-color1;
    max-width: 675px;
    margin-bottom: 152px;

    &_colored {
      color: $service-color;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__link {
    @include font-manage(16px, 23px, 0.1em);
    color: $alternative-link-color;
    text-transform: uppercase;
    padding-bottom: 5px;
    transition: border-bottom 0.3s, color 0.3s;

    &:hover {
      border-bottom: 1px solid $text-color1;
      color: $text-color1;
    }
  }

  @media (max-width: $large-breakpoint) {

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      transform: translate(-50%, -50%);
    }

    &__description {
      padding: 40px 5vw;
      margin: 0 auto;
      text-align: center;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__text {
      margin-bottom: 50px;
      max-width: 579px;
      @include font-manage(24px, 35px, -0.01em);
    }
  }
}
