.thrive {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: $cyan;

  &__article {
    @include adaptive-padding-all;

    min-width: 50%;
    padding: $padding-global;
    color: $white;
  }

  &__h {
    margin-bottom: 75px;
    font-size: $font-size-xlarge;
  }

  &__p {
    font-size: $font-size-small;
    line-height: 35px;
  }

  &__img {
    @include mix-image(768px, 0.1);

    object-fit: cover;
    object-position: left;
  }
}
