.thrive {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: $cyan;

  &__article {
    @include adaptive-padding-all;

    min-width: 50%;
    padding: $padding-global;
    color: $white;
  }

  &__heading {
    margin-bottom: 75px;
    font-size: $font-size-xlarge;
    @media (min-width: 2000px) {
      font-size: $font-size-xlarge-lg-screen;
    }
  }

  &__text {
    font-size: $font-size-small;
    line-height: 35px;
    @media (min-width: 2000px) {
      font-size: $font-size-small-lg-screen;
      line-height: $font-size-small-lg-screen * 1.4;
    }
  }

  &__image {
    @include mix-image(768px, 0.1);

    object-fit: cover;
    object-position: left;
  }
}
