$c-text-main: #22356f;
$c-text-decor: #62d0df;
$c-header-background: #f4f9e2;

$fs-text-sub-heading: 14px;
$fs-text-buttons: 16px;
$fs-text-desc: 24px;
$fs-text-logo: 24px;
$fs-text-block: 32px;
$fs-text-heading: 36px;

$h-logo-width: 105px;
