.about {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  margin-top: 150px;
  margin-bottom: 76px;
  color: $colorBlue;

  &__title {
    position: relative;
    left: 25%;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  .about {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 70px 15px;

    &__text {
      margin-top: 30px;
    }

    &__title {
      left: 0;
    }
  }
}
