$text-color: #22356F;
$padding-base: 150px;

.about {
	padding-top: $padding-base;
	padding-left: $padding-base / 3 * 2;
	height: 480px;
	position: relative;
	
	&__header {
		text-transform: uppercase;
		width: 100px;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.06em;
		color: $text-color;
		display: inline-block;
		position: absolute;
	}
	
	&__text {
		color: $text-color;
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 0.005em;
		width: 40%;
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
		
	@media screen and (max-width: 1024px) {
		
		&__header {
			top: $padding-base/8;
			font-weight: 700;
		}
		
		& {
			padding-top: $padding-base/2;
			padding-left: $padding-base/4;
		}
		
		&__text {
			font-size: 18px;
			width: 90%;
			margin-left: 0;
		}
		
	}
	
}
