.about {
  display: flex;

  &__text {
    position: relative;
    margin: 0 auto;
    padding: 150px 0 24px;
    width: 592px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;

    &::before {
      position: absolute;
      content: "About us";
      left: -318px;
      top: 170px;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: #22356f;
      text-transform: uppercase;
    }

    &::after {
      display: block;
      content: "We can help you with";
      text-transform: uppercase;
      margin-top: 75px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.06em;
      color: rgba(34, 53, 111, 0.5);
    }
  }
}

@media (max-width: 1279px) {
  .about {
    &__text {
      padding: 55px 30px 20px;
      width: 100%;

      &::before {
        top: 20px;
        left: 30px;
      }

      &::after {
        margin-top: 45px;
      }
    }
  }
}
