.about-us {
  position: relative;
  width: 100%;
  min-height: 480px;
  padding: 150px 12vw 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $secondary-color;

  @media (max-width: 998px) {
    padding: 50px 5vw 40px;
  }

  &__title {
    top: 160px;
    left: 7vw;
    position: absolute;

    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $main-color;

    @media (max-width: 998px) {
      position: static;
      margin-bottom: 40px;
    }
  }

  &__text {
    max-width: 600px;
    position: relative;

    font-size: 24px;
    line-height: 42px;
    font-weight: bold;
    color: $main-color;
  }

  &__subtitle {
    margin-top: 75px;

    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: rgba(34, 53, 111, 0.5);
  }
}
