.about {
  display: flex;

  &__text {
    margin: 0 auto;
    padding: 150px 0 24px;
    width: 592px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;

    position: relative;

    &::after {
      display: block;
      content: "We can help you with";
      text-transform: uppercase;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.06em;
      color: $mainFontColor;

      margin-top: 75px;
      text-align: center;
    }
    &::before {
      position: absolute;
      content: "About us";
      left: -318px;
      top: 160px;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $mainFontColor;

    }
  }
}

@media screen and (max-width: 1279px) {
  .about__text {
    width: 100%;
    padding: 60px 45px 20px;
    &::before {
      top: 20px;
      left: 45px;
    }
    &::after {
      margin: 45px;
    }
  }
}
