.about {
  display: flex;
  justify-content: space-around;
  padding: 147px 0 24px;

  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;

    padding: 10px;
  }

  &__desc {
    max-width: 592px;
  }

  &__heading {
    font-size: $fs-text-buttons;
    text-transform: uppercase;
    line-height: 23px;
    font-weight: normal;

    @media (max-width: 990px) {
      margin-bottom: 50px;
    }
  }

  &__text {
    margin-bottom: 76px;

    @media (max-width: 990px) {
      text-align: center;
    }

  }

  &__sub-heading {
    text-align: center;
    color: rgba(34, 53, 111, 0.5);
    font-weight: normal;
  }
}

.sub-heading {
  font-size: $fs-text-buttons;
  text-transform: uppercase;
}
