.about {
  display: grid;
  grid-template-rows: 1fr 100px 360px;

  &__info {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 150px 100px;
  }

  &__title {
    align-self: start;
    justify-self: center;

    color: #22356f;
    font-size: 16px;
  }

  &__text {
    align-self: center;
    justify-self: center;
    width: 580px;

    font-size: 24px;
    color: #22356f;
  }

  &__hint {
    margin: 40px 0 20px;
    text-align: center;
    font-size: 16px;
    color: #22356f;
    opacity: 0.5;
  }
}

@media (max-width : 950px) {
  .about {
    grid-template-rows: auto;
    &__info {
      grid-template-columns: 1fr;
      padding: 20px 10px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      width: 250px;
    }
  }
}
