@import "variables";

.addition {
  display: grid;
  grid-template-columns: 480px 1fr;
  background-color: #fff;

  @media (max-width: $small-screen) {
    display: block;
  }

  &__photo {
    background: url(../images/smile-men.png) no-repeat center;
    background-size: cover;

    @media (max-width: $small-screen) {
      height: 350px;
      width: 100%;
    }
  }

  .help {
    padding: 103px 11% 42px;
    padding-right: 0;

    @media (max-width: $small-screen) {
      padding: 0 $padding-small;
      text-align: center;
    }

    &__header {
      font-weight: 400;
      line-height: 12px;
      color: $color-secondary;
      text-transform: uppercase;

      @media (max-width: $small-screen) {
        margin-top: $margin-small;
      }

    }

    &__paragraph {
      margin-top: 225px;
      font-size: 36px;
      font-weight: bold;
      line-height: 53px;
      color: $color-secondary;
      max-width: 676px;

      @media (max-width: $media-screen) {
        font-size: 25px;
      }

      @media (max-width: $small-screen) {
        margin: $margin-small auto 0;
        font-size: 16px;
        line-height: 2;
        max-width: $width-small;
        text-align: left;
      }
    }

    &__thrive {
      color: $color-main;
      font-size: 36px;

      @media (max-width: $media-screen) {
        font-size: 25px;
      }
      @media (max-width: $small-screen) {
        font-size: 16px;
      }
    }

    &__link {
      display: inline-block;
      margin-top: 150px;
      font-weight: bold;
      line-height: 23px;
      color: #fab63e;
      text-transform: uppercase;
      transition: color 0.3s;

      @media (max-width: $small-screen) {
        margin: $margin-small 0;
      }
    }

    &__link:hover {
      color: $color-main;
    }
  }
}
