.additional {
  display: flex;
  position: relative;
  padding-bottom: 5%;
  height: 801px;

  &__header {
    font-size: $fontSizeStandart;
    line-height: 12px;
    color: $dark-blue;
    font-weight: 300;
    margin-top: 80px;
    margin-left: 10%;
  }

  &__text {
    margin: 225px 10% 200px;
    font-size: 36px;
    font-weight: bold;
    line-height: 53px;
    color: $dark-blue;
    flex-grow: 1;
  }

  &__link {
    color: $light-blue;
    transition: background-color 0.3s, color 0.3s;
  }

  &__link:hover {
    background-color: $dark-blue;
    color: #fff;
  }

  &__link-help {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 6%;
    bottom: 10px;
    color: $orange;
    font-weight: bold;
    width: 140px;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
  }

  &__link-help:hover {
    background-color: #fab63e;
    color: #fff;
  }

  @media (max-width: 1100px) {
    height: auto;
    border-top: 1px solid rgba(0,0,0,0.5);

    &__text {
      font-size: 30px;
      line-height: 48px;
 
    }
  }

  @media (max-width: 960px) {

    &__header {
      margin-top: 40px;
    }

    &__photo {
      display: none;
    }
    
    &__text {
      margin: 50px 10% ;
    }

    &__link-help {
      margin-left: 9.5%;
    }
  }
  
  @media (max-width: 600px) {

    &__text {
      margin: 50px 5%;
    }
  }

  @media (max-width: 300px) {

    &__header {
      font-size: 12px;
    }
    
    &__link-help {
      font-size: 12px;
    }

    &__text {
      font-size: 10px;
      line-height: 20px;
    }
  }
}
