@import "variables";

.addition {
  display: grid;
  grid-template-columns: 480px 1fr;

  @media (max-width: $small-screen) {
    display: block;
  }

  &__photo {
    background: url(../images/smile-men.png) no-repeat center;
    background-size: cover;

    @media (max-width: $small-screen) {
      height: 350px;
      width: 100%;
    }
  }

  .help {
    padding: 103px 11% 42px;
    padding-right: 0;

    @media (max-width: $small-screen) {
      padding: 0;
      text-align: center;
    }

    &__header {
      font-size: 16px;
      line-height: 12px;
      color: $color-secondary;
      text-transform: uppercase;

      @media (max-width: $small-screen) {
        margin-top: 20px;
      }

    }

    &__paragraph {
      margin-top: 225px;
      font-size: 36px;
      line-height: 53px;
      color: $color-secondary;

      @media (max-width: $media-screen) {
        font-size: 25px;
      }

      @media (max-width: $small-screen) {
        margin-top: 20px;
        font-size: 16px;
        line-height: 2;
      }

      .help__thrive {
        color: $color-main;
      }
    }

    &__link {
      display: inline-block;
      margin-top: 150px;
      font-size: 16px;
      font-weight: bold;
      line-height: 23px;
      color: #fab63e;
      text-transform: uppercase;
      transition: background-color 0.5s, color 0.5s;

      @media (max-width: $small-screen) {
        margin: 20px 0;
      }
    }
    &__link:hover {
      background-color: #f9b640;
      color: #fff;
    }

  }
}
