.additional {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 380px;

  &__image {
    background-image: url(/images/additional-image.png);
    background-size: cover;
    background-position: center;
  }

  &__info {
    display: flex;
    justify-content: center;
    margin-top: 98px;
  }

  &__block {
    width: 223px;
    margin-left: 40px;
    padding-right: 16px;

    &-title {
      margin-bottom: 22px;
      font-size: 14px;
      text-transform: uppercase;
      color: $colorBlue;
      font-weight: bold;
    }

    &-text {
      padding-top: 32px;
      padding-right: 5px;
      height: 172px;
      font-size: 14px;
      line-height: 23px;
      color: $colorGrey;

      border-right: 1px solid rgba(124, 78, 78, 0.15);


      &_2 {
        padding-right: 35px;
      }

      &_3 {
        border-right: none;
      }
    }
    
    &-email {
      color: $colorLightBlue;
    }
  }
}
