.additional {
  display: flex;
  height: 800px;
  position: relative;
  padding-bottom: 5%;

  &__header {
    font-size: 16px;
    line-height: 12px;
    color: #22356f;
    font-weight: 300;
    margin-top: 80px;
    margin-left: 106px;
  }

  &__text {
    font-size: 36px;
    line-height: 53px;
    color: #22356f;
    font-weight: bold;
    margin: 225px 20px 200px 100px ;
  }

  &__link {
    color: #62d0df;
  }

  &__link-help {
    position: absolute;
    color: #fab63e;
    margin-left: 10%;
    font-weight: bold;
    bottom: 20px;
  }

  @media (max-width: 1100px) {

    border-top: 1px solid rgba(0,0,0,0.5);

    &__text {
      font-size: 30px;
      line-height: 48px;
    }
  }

  @media (max-width: 960px) {
    &__photo {
      display: none;
    }

    &__text {
      margin-right: 10%;
    }
  }
}
