.advice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 240px;
    box-shadow: 0 0 0 #62d0df;

    transition: 0.5s;

    &:hover {
      box-shadow: 1px 1px 10px #62d0df;
    }

    &-title {
      margin-left: 105px;
      margin-bottom: 28px;
  
      font-size: 28px;
      line-height: 33px;
      color: $colorBlue;
    }

    &-text {
      margin-left: 105px;
      padding-right: 70px;

      font-size: 16px;
      line-height: 25px;
      color: rgba(34, 53, 111, 0.5);
    }
  }
}

@media (min-width: 1440px) {
  .advice {
    display: grid;
    grid-template-columns: repeat(3,480px);
  }
}
