$font-color: #22356F;
$base-margin: 150px;
$image-width: 480px;
$block-height: 800px;

.also {
	height: $block-height;
	position: relative;
	padding-left: $image-width + 100px;
	padding-top: $base-margin/3*2;
	
	&__header {
		color: $font-color;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 12px;
		letter-spacing: 0.06em;
	}
	
	&__text {
		font-size: 36px;
		line-height: 53px;
		letter-spacing: -0.01em;
		font-weight: bold;
		margin-top: $base-margin*1.5;
		margin-bottom: $base-margin;
		width: 675px;
		color: $font-color;
	}
	
	&__logo {
		color: #62D0DF;
	}
	
	&__link {
		color: #FAB63E;
		height: 53px;
		text-transform: uppercase;
		text-decoration: none;
		position: absolute;
		bottom: 5%;
		left: $image-width + 100px;
		
		&:hover {
			color: #62D0DF;
		}
	}
	
	&__image {
		width: 480px;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	@media screen and (max-width:1280px) {
		&__header {
			text-decoration: underline;
		}
		
		& {
			padding-top: 0;
			padding-left: $image-width + 20px;
		}
		
		&__text {
			width: 90%;
			margin-bottom: $base-margin/5;
			margin-top: $base-margin/8;
			
			font-size: 38px;
			line-height: 53px;
		}
	}
	
	@media screen and (max-width: 800px){
		
		& {
			height: $block-height*1.66;
			padding-left: $base-margin/8;
			padding-top: 0;
		}
		
		&__text {
			margin-top: $base-margin;
		}
		
		&__link {
			top: 45%;
			left: $base-margin/8;
		}
		
		&__image {
			width: 100%;
			left: 0;
			top: 50%;
		}
	}
	
	@media screen and (max-width: 490px) {
		&__text {
			margin-top: $base-margin/3;
			font-size: 32px;
			line-height: 44px;
		}
		
		&__image {
			top: 70%;
		}
	}
	
}
