.also {
  display: grid;
  grid-template-columns: 1fr 2fr;


  &__image {
    background-image: url(/images/also-image.png);
    background-size: cover;
    background-position: center;
  }

  &__info {
    margin-left: 106px;
  }

  &__title {
    margin-top: 103px;

    font-size: 16px;
    color: $colorBlue;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 225px;
    padding-right: 175px;

    font-size: 36px;
    line-height: 53px;
    color: $colorBlue;

    &-blue {
      color: $colorLightBlue;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 32px;
    padding: 5px;

    border: 2px solid transparent;
    border-radius: 10px;

    text-transform: uppercase;
    color: $colorOrange;

    transition-duration: 0.4s;

    &:hover {
      border: 2px solid $colorOrange;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1023px) {
  .also {
    display: flex;
    flex-direction: column;

    &__image {
      height: 400px;
    }

    &__info {
      margin-left: 20px;
    }

    &__text {
      margin-top: 70px;
      padding-right: 0px;
    }

    &__link {
      margin-top: 32px;
    }
  }
}