@import "variables";

.assessment {
  display: grid;
  grid-template-columns: 1fr 480px;
  background-color: $color-secondary;

  @media (max-width: $small-screen) {
    display: block;
  }

  .ready {
    padding-top: 90px;
    padding-left: 12%;

    @media (max-width: $small-screen) {
      padding: 0 5px;
      text-align: center;
    }

    &__link {
      display: inline-block;
      margin-left: -25px;
      height: 50px;
      width: 150px;
      border-radius: 50px;
      font-size: 16px;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
      transition: background-color 0.5s, color 0.5s;

      @media (max-width: $small-screen) {
        margin-top: 20px;
      }
    }

    &__link:hover {
      background-color: #fff;
      color: $color-secondary;

    }

    &__header {
      margin-top: 185px;
      font-size: 64px;
      line-height: 94px;

      @media (max-width: $media-screen) {
        font-size: 42px;
      }

      @media (max-width: $small-screen) {
        margin-top: 20px;
        font-size: 32px;
      }
    }

    &__paragraph {
      margin-top: 75px;
      font-size: 36px;
      line-height: 53px;
      max-width: 579px;

      @media (max-width: $media-screen) {
        font-size: 32px;
      }
      @media (max-width: $small-screen) {
        margin: 20px auto 0;
        font-size: 18px;
        line-height: 2;
        max-width: 320px;
        text-align: left;
      }
    }

    &__help {
      display: inline-block;
      margin: 70px 0 42px;
      font-size: 16px;
      line-height: 23px;
      color: $color-main;
      text-transform: uppercase;
      transition: color 0.3s;

      @media (max-width: $small-screen) {
        margin-top: 20px;
      }
    }

    &__help:hover {
      color: #fab63e;
    }
  }

  &__photo {
    background: url(../images/smile-man.png) no-repeat center;
    background-size: cover;

    @media (max-width: $small-screen) {
      height: 350px;
      width: 100%;
      background-position: center top 40%;
    }
  }
}
