@import "variables";

.assessment {
  display: grid;
  grid-template-columns: 1fr 480px;
  background-color: #22356f;

  .ready {
    padding-top: 103px;
    padding-left: $padding-middle;

    &__link {
      font-size: 16px;
      line-height: 12px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }

    &__header {
      margin-top: 230px;
      font-size: 64px;
      line-height: 94px;
      color: #fff;

      @media (max-width: 1279px) {
        font-size: 42px;
      }
    }

    &__paragraph {
      margin-top: 75px;
      font-size: 36px;
      line-height: 53px;
      color: #fff;

      @media (max-width: 1279px) {
        font-size: 24px;
      }
    }

    &__help {
      display: inline-block;
      margin-top: 70px;
      margin-bottom: 42px;
      font-size: 16px;
      line-height: 23px;
      color: #62d0df;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__photo {
    background: url(../images/smile-man.png) no-repeat center;
    background-size: cover;
  }
}
