.blocks-small {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  
  grid-template-columns: repeat(4, minmax(100px, 360px));
  grid-template-rows: repeat(1, 360px);

  @media (max-width: 992px) {
    grid-template: repeat(2, minmax(200px, 360px)) / repeat(2, 1fr);
  }
}

.blocks-big {
  margin-top: 120px;
  display: grid;
  grid-template: repeat(2, minmax(360px, 480px)) /
    repeat(3, minmax(360px, 480px));

  @media (max-width: 992px) {
    grid-template: repeat(3, minmax(200px, 360px)) / repeat(2, 1fr);
  }
}

.text-blocks {
  margin-top: 20px;
  max-height: 600px;

  display: grid;
  grid-template: repeat(2, 240px) / repeat(3, minmax(360px, 480px));

  @media (max-width: 992px) {
    grid-template: repeat(3, 240px) / repeat(2, 1fr);
  }
}

.blocks {

  &__block {
    text-align: start;
    position: relative;
    padding: 25%;
    padding-left: 20%;

    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    color: $secondary-color;

    &::after {
      position: absolute;
      top: 15%;
      left: 20%;
      width: 60%;
      height: 2px;
      background-color: $secondary-color;
      content: "";
    }

    &--pink {
      background: $pink-block-color;
    }

    &--green {
      background: $green-block-color;
    }

    &--light-blue {
      background: $logo-color;
    }

    &--blue {
      background: $blue-block-color;
    }

    &--dark-blue {
      background: $main-color;
    }

    &--img-bg {
      background: url(/images/3.jpg);
      background-size: cover;
    }

    &--white {
      background: $white-block-color;
    }

    &--purple {
      background: $purple-block-color;
    }
  }
  

  &__block-caption {
    position: relative;
    font-size: 32px;
    line-height: 34px;

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: -30px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #e9b730;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    padding: 55px 105px 37px;
  }

  &__text-title {
    margin-bottom: 28px;

    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: $main-color;
  }

  &__text-content {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;

    color: rgba(34, 53, 111, 0.5);
  }
}
