$sq-size: 360px;
$big-sq-size: 480px;
$circle-size: 12px;
$card-pad: 90px;

@mixin block-text {
	font-size: 32px;
	line-height: 34px;
	letter-spacing: -0.006em;
	color: #fff;
}

@mixin block-line {
	&:after {
		content: "";
		width: 86%;
		position: absolute;
		top: 20%;
		left: 7%;
		height: 1px;
		background: #fff;
	}
}

@mixin block-bullet {
	&:before {
		content: "";
		background-color: #e9b730;
		height: $circle-size;
		width: $circle-size;
		border-radius: 50%;
		position: absolute;
		top: 40%;
		left: -20px;
	}
}

.blocks {
	display: flex;
	width: 100%;
	align-items: stretch;
	justify-content:center ;
	flex-wrap: wrap;
	position: relative;

	&__text {
		@include block-bullet;
		position: relative;
	}
	
	&:before {
		content: "WE CAN HELP YOU WITH";
		color: rgba(34, 53, 111, 0.5);
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.06em;
		position: absolute;
		top: -$sq-size/10;
	}
	
	&__square {
		
		@include block-text;
		@include block-line;
		flex: 1 0 25%;
		height: $sq-size;
		position: relative;
		
		padding-top: $sq-size / 4;
		padding-left: $card-pad;
		
		&--lift {
			background-color: #ffe2de;
		}
		
		&--run {
			background-color: #c4e769;
		}
		
		&--pump {
			background-color: #62d0df;
		}
		
		&--pump-2 {
			background-color: #0052c1;
		}
		
	}
	
	&__big-square {
		@include block-line;
		@include block-text;
		
		height: $big-sq-size;
		flex: 1 0 33.33%;
		padding-top: $big-sq-size / 4 ;
		position: relative;
		
		padding-left: $card-pad * 1.25;

		&--physical {
			background-color: #22356f;
		}
		
		&--mental {
			background-color: #F2F2F2;
		}
		
		&--nutrition {
			background-image: url(../images/3.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		
		&--gymnastics {
			background-color: #62d0df;
		}
		
		&--crossfit {
			background-color: #dee1ff;
		}
		
		&--aerobics {
			background-color: #8f00ff;
		}
	}
	
@media screen and (max-width: 1024px) {
	&__square {
		flex: 1 0 50%;
	}
	
	&__big-square {
		flex: 1 0 25%;
	}
}

}

