@import "blocks/header";
@import "blocks/logo";
@import "blocks/top.scss";
@import "blocks/buttons.scss";
@import "blocks/nav";
@import "blocks/header-text";
@import "blocks/header-picture";
@import "blocks/main-block.scss";
@import "blocks/item-content.scss";
@import "blocks/why.scss";
@import "blocks/about.scss";
@import "blocks/help.scss";
@import "blocks/plan.scss";
@import "blocks/also.scss";
@import "blocks/contact.scss";
@import "blocks/method.scss";
@import "blocks/footer.scss";
