.button {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  text-align: center;
  transition: background-color 300ms;

  &__link {
    color: #fff;
    text-decoration: none;
  }
}

button:hover {
  .button {
    background-color: #54cfdf;
  }
}
