.buttons {
  &__item {
    padding: 10px 30px;
    border: none;
    width: 190px;

    font-size: 16px;

    color: #f9b640;
    background: transparent;

    transition: background 0.3s ease-in , color 0.3s ease-in ;
    text-transform: uppercase;
    
    margin-top: 30px;
  
    :hover {
      cursor: pointer;
      
  
      color: #fff;
      background: #f9b640;
    }
  }
}
