.button {
  padding: 0 $buttonHorizontalPadding;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $buttonColor;
  border: 1px solid transparent;

  background-color: transparent;
  transition: box-shadow 0.5s;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: rgba(250,181,62,1);
    box-shadow: 1px 10px 26px -6px rgba(250,181,62,1);
  }

  &--isActive {
    color: #fff;
    background-color: $buttonColor;
    &:hover {
      border: 1px solid;
      color: rgba(250,181,62,1);
      background-color: #fff;
      box-shadow: 1px 10px 26px -6px rgba(250,181,62,1);
    }
  }
}
