.button {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  text-align: center;
  transition: background-color 0.5s;

  &__link {
    color: $textFontCol;
    text-decoration: none;
  }
  &:hover {
    background-color: #54cfdf;
  }
}
