.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 360px;
 

  &__type {
    display: grid;
    justify-content: center;
  }

  &__title {
    @extend %card-title;
  }

  &__type--lifting {
    background-color: #ffe2de;
  }

  &__type--running {
    background-color: #c4e769;
  }

  &__type--pumping {
    background-color: $leading-color;
  }

  &__type--iron {
    background-color: #0052c1;
  }
}

@media (max-width: 1000px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .card {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-auto-rows: 300px;
  }
}
