.communication {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  align-items: center;
  justify-items: center;
  background-color: $accent-color;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 579px;

    padding: 0 20px 65px;
  }

  &__theme {
    font-size: $base-font-size;
    line-height: 12px;
    letter-spacing: 0.06em;

    padding-top: 103px;
    color: #fff;
  }

  &__title {
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;

    padding: 270px 0 75px;
    color: #fff;
  }

  &__text {
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #fff;
  }

  &__button {
    width: 150px;
    height: 50px;

    margin: 70px 0 42px;

    font-size: 0.6rem;
    line-height: 23.5px;
    letter-spacing: 0.1em;
    color: $base-color;

    background-color: transparent;
    border: 1px;
    outline: transparent;

    cursor: pointer;

    transition: color 0.5s ease-in-out, background-color 0.5s ease-in;

    &:hover {
      width: 150px;
      height: 50px;
      background-color: $button-color;
      color: #fff;
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: end;
  }
}

@media (max-width: $medium-screen) {
  .communication {
    grid-template-columns: 1fr;

    &__img {
      width: 100%;
      height: 400px;
    }

    &__title {
      padding-top: 20px;
    }
  }
}
