.contact {
  display: flex;
  justify-content: space-between;
  background-color: $color_dark_blue;

  &__container {
    width: 100%;
  }

  &__block {
    margin: 0 auto;
    max-width: 570px;
  }

  &__title {
    font-size: 16px;
    line-height: 12px;
    font-weight: 500;
    color: $color_white;
    margin-top: 100px;
  }

  &__title--h2 {
    font-size: 64px;
    line-height: 93px;
    color: $color_white;
    margin-top: 220px;
  }

  &__paragraph {
    margin-top: 70px;
    font-size: 36px;
    line-height: 53px;
    color: $color_white;
  }

  &__block--link {
    display: inline-block;
    margin-top: 50px;
    color: $color_sky_blue;
    @include hover (transform, scale(1.05));
  }

  &__img {
    max-width: 480px;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1100px) {
  .contact__block {
    max-width: 480px;
  }

  .contact__title--h2 {
    font-size: 48px;
    margin-top: 130px;
  }

  .contact__paragraph {
    margin-top: 30px;
    font-size: 30px;
  }

  .contact__img {
    max-width: 420px;
  }
}

@media (max-width: 900px) {
  .contact {
    flex-direction: column;
  }

  .contact__block {
    text-align: center;
  }

  .contact__img {
    margin: 0 auto;
  }

  .contact__block--link {
    margin: 0 0 20px;
  }
}

@media (max-width: 450px) {
  .contact__title--h2 {
    margin-top: 80px;
    font-size: 36px;
  }

  .contact__paragraph {
    font-size: 24px;
  }
}
