.contacts {
  display: flex;
  margin: 0;

  &__picture {
    width: 570px;
    height: 380px;
    background-image: url("../images/autumn-goodman-242825.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 98px 40px 100px 68px;
  }

  &__card {
    width: 240px;
    padding-left: 30px;
    
    &--shadow {
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05);
    }
  }

  &__heading {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: rgba(34, 53, 111, 0.5);
  }

  &__link {
    font-size: inherit;
    color: #62d0df;
    margin-bottom: 15px;
  }
}
