.contact {
  display: grid;
  grid-template-columns: 2fr 1fr;

  &__info {
    padding-left: 180px;
    padding-right: 200px;

    background-color: $colorBlue;
    color: $colorWhite;
  }

  &__head {
    margin-top: 103px;

    font-size: 16px;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 230px;

    font-size: 64px;
    line-height: 94px;
  }
  &__text {
    margin-top: 75px;

    font-size: 36px;
    line-height: 53px;
  }

  &__link {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 20px;
    padding: 5px;

    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: $colorLightBlue;

    border: 2px solid transparent;
    border-radius: 10px;

    transition-duration: 0.4s;

    &:hover {
      border: 2px solid $colorLightBlue;
      transform: scale(1.1);
    }
  }

  &__image {
    background-image: url(/images/contact-image.png);
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 1023px) {
  .contact {
    display: flex;
    flex-direction: column;

    &__image {
      height: 400px;
      order: 1;
    }

    &__info {
      order: 2;
      padding-left: 20px;
      padding-right: 0px;
    }

    &__head {
      margin-top: 50px;
    }

    &__title {
      margin-top: 50px;
    }
  }
}
