.courses {
  padding-bottom: 120px;

  &__header {
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $color-thirty;
    text-transform: uppercase;
  }

  &__items {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $small-screen) {
      display: block;
    }

    .courses__item {
      position: relative;
      padding: 100px 0 0 78px;
      height: 360px;
      font-size: 32px;
      line-height: 34px;

      @media (max-width: $small-screen) {
        padding-left: 0;
        height: 250px;
      }

      // .courses__item:hover {
      //   transform: scale(1.2);
      // }

      .courses__list {
        @media (max-width: $small-screen) {
          width: fit-content;
          margin: 0 auto;
        }
      }
      .courses__list::marker {
        color: #e9b730;
      }
    }

    .courses__item::before {
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 72px;
      left: 15%;
      right: 15%;

    }

    .courses__item--lift {
      background-color: #ffe2de;
    }

    .courses__item--run {
      background-color: #c4e769;
    }

    .courses__item--pump {
      background-color: $color-main;
    }

    .courses__item--iron {
      background-color: #0052c1;
    }
  }
}
