.description {
  background-color: #f4f9e2;
  height: 840px;
  width: 80%;
  padding-left: 150px;
  padding-top: 300px;
  position: relative;
}
.description__header {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356F;
  width: 480px;
  height: 165px;
}
.description__text {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 480px;
  height: 165px;
}
.description__button {
  text-transform: uppercase;
  color: #FAB63E;
  height: 50px;
  width: 150px;
  border: 1px transparent;
  background-color: #f4f9e2;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 3;
  transition: all 500ms ease-in-out;
}
.description__button:hover {
  color: #fff;
  background-color: #FAB63E;
}
.description__image {
  position: absolute;
  height: 545px;
  width: 800px;
  left: 80%;
  top: 24%;
  overflow: hidden;
  border-radius: 312px;
  transform: rotate(-30deg);
  z-index: 2;
}
.description__image:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url(../images/1.png);
  background-position: center;
  transform: rotate(30deg);
}
.description__image-background {
  position: absolute;
  height: 545px;
  width: 800px;
  left: 80%;
  background: #EDFDFF;
  border-radius: 312.159px;
  transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  z-index: 1;
  top: 7%;
}
.description__logo {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
  position: absolute;
}
.description__logo--top {
  top: 26px;
}
.description__logo--lower {
  top: 240px;
}
@media screen and (max-width: 1650px) {
  .description__header {
    width: 450px;
    font-size: 38px;
    font-weight: 700;
  }
  .description__text {
    font-size: 24px;
    width: 450px;
    line-height: 24px;
  }
  .description__image {
    left: 70%;
  }
  .description__image-background {
    left: 70%;
  }
}
@media screen and (max-width: 1400px) {
  .description__image-background {
    display: none;
  }
  .description__logo--lower {
    display: none;
  }
  .description {
    width: 100%;
  }
  .description {
    padding-left: 100px;
  }
  .description__image {
    top: 25%;
    left: 10%;
    opacity: 0.4;
  }
  .description__text {
    width: 80%;
    font-size: 24px;
  }
  .description__logo--top {
    position: absolute;
    left: 5%;
    top: 3%;
  }
}
@media screen and (max-width: 900px) {
  .description__image-background {
    display: none;
  }
  .description__logo--lower {
    display: none;
  }
  .description {
    width: 100%;
  }
  .description {
    padding-left: 5%;
    padding-top: 200px;
  }
  .description__image {
    display: none;
  }
  .description__header {
    width: 70%;
  }
  .description__text {
    width: 90%;
  }
  .description:after {
    content: "";
    background-image: url(../images/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
@media screen and (max-width: 490px) {
  .description {
    padding-top: 200px;
  }
  .description__header {
    font-size: 28px;
    line-height: 36px;
  }
}

/*# sourceMappingURL=description.css.map */
