$text-color: #22356F;
$button-height: 50px;
$button-width: 150px;
$bg-color: #f4f9e2;
$alternate-color: #FAB63E;
$base-pad: 300px;

@mixin image-frame {
	position: absolute;
	height: 545px;
	width: 800px;
	left: 80%;
}

@mixin remove-element {
	
	&__image-background {
		display: none;
	}
	
	&__logo--lower {
		display: none;
	}
	
	& {
		width: 100%;
	}
	
}

.description {
	background-color: $bg-color;
	height: 840px;
	width: 80%;
	padding-left: $base-pad/2;
	padding-top: $base-pad;
	position: relative;
		
	&__header {
		font-size: 48px;
		line-height: 53px;
		letter-spacing: -0.035em;
		color: $text-color;
		width: 480px;
		height: 165px;
	}
	
	&__text {
		font-size: 24px;
		line-height: 42px;
		color: $text-color;
		margin-top: 20px;
		margin-bottom: 60px;
		width: 480px;
		height: 165px;
	}
	
	&__button {
		text-transform: uppercase;
		color: $alternate-color;
		height: $button-height;
		width: $button-width;
		border: 1px transparent;
		background-color: $bg-color;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.1em;
		position: relative;
		z-index: 3;
		transition: all 500ms ease-in-out;
		
		&:hover {
			color: #fff;
			background-color: $alternate-color;
		}
	}
	
	&__image {
		
		@include image-frame;
		top: 24%;
		overflow: hidden;
		border-radius: 312px;
		transform: rotate(-30deg);
		z-index: 2;
		
		&:before {
				content: "";
				position: absolute;
				width: 200%;
				height: 200%;
				top: -50%;
				left: -50%;
				z-index: -1;
				background-image: url(../images/1.png);
				background-position: center;
				transform: rotate(30deg);
		}
	}
	
	&__image-background {
		@include image-frame;
		background: #EDFDFF;
		border-radius: 312.159px;
		transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
		z-index: 1;
		top: 7%;
	}

	&__logo {
		font-size: 24px;
		line-height: 27px;
		letter-spacing: -0.035em;
		color: #62D0DF;
		position: absolute;
		
		&--top {
			top: 26px;
		}
		
		&--lower {
			top: 240px;
		}
	}
	
	// @media screen and (max-width:1650px) {
	// 	&__header {
	// 		width: 450px;
	// 		font-size: 38px;
	// 		font-weight: 700;
	// 	}

	// 	&__text {
	// 		font-size: 24px;
	// 		width: 450px;
	// 		line-height: 24px;
	// 	}
		
	// 	&__image {
	// 		left: 70%;
	// 	}
		
	// 	&__image-background {
	// 		left: 70%;
	// 	}
	// }
	
	@media screen and (max-width:1400px) {
		@include remove-element;
		& {
			padding-left: $base-pad/3;
			overflow: hidden;
		}
		
		&__image {
			top: unset;
			bottom: 0;
			left: 0%;
			opacity: 0.3;
			height: 100%;
			width: 100%;
			
			&:before {
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		
		&__text {
			width: 80%;
			font-size: 24px;
		}
		
		&__logo--top {
			position: absolute;
			left: 5%;
			top: 3%;
		}
	}
	
	@media screen and (max-width: 900px) {
		
		@include remove-element;
		
		& {
			padding-left: 5%;
			padding-top: $base-pad/1.5;
		}
		
		&__image {
			display: none;
		}
		
		&__header {
			width: 70%;
		}
		
		&__text {
			width: 90%;
		}
		
		&:after {
			content: "";
			background-image: url(../images/1.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0.3;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
	
	@media screen and (max-width: 490px) {
		& {
			padding-top: $base-pad/1.5;
		}
		
		&__header {
			font-size: 28px;
			line-height: 36px;
		}
		
		&__button {
			position: absolute;
			
			&--1 {
				bottom: 12%;
			}
			
			&--2 {
				bottom: 4%;
			}
		}
	}
	
}
