.exersice {

  width: 100%;

}

.exersice__wrap {
  display: grid;
  // height: 360px;
  // width: 100%;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit ,minmax(100px , 1fr));
  margin-bottom: 100px;
}

.exersice__box {
  height: 360px;
}

.exersice__box:nth-child(1) {
  background-image: url(../images/Group1.png);
  background-size: cover;
}

.exersice__box:nth-child(2) {
  background-image: url(../images/Group2.png);
  background-size: cover;
}

.exersice__box:nth-child(3) {
  background-image: url(../images/Group3.png);
  background-size: cover;
}

.exersice__box:nth-child(4) {
  background-image: url(../images/Group4.png);
  background-size: cover;
}

@media screen and (max-width: 1100px) {
  .exersice__wrap {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
  }
}

@media screen and (max-width: 665px) {
  .exersice__wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
