$cLightBlue: #62d0df;

.cLightBlue {
  color: $cLightBlue;
}

.fifth-section {
  display: flex;
  color: #22356f;
  font-size: 36px;
  line-height: 53px;

  &__photo {
    width: 480px;
  }

  &__article {
    padding-left: 100px;
    flex-basis: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;

    &__title {
      font-size: 16px;
      line-height: 12px;
      font-weight: normal;
    }
    &__nav {
      @include button;
      font-size: 16px;
      line-height: 23px;
    }
  }
}
