@font-face {
  font-family: "Larsseit";
  src: url(/fonts/Larsseit/Larsseit.ttf);
}

@font-face {
  font-family: "Larsseit";
  src: url(/fonts/Larsseit/Larsseit-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: "Larsseit";
  font-size: 16px;
}
