.footer {
  height: 80px;
  background-color: #62d0df;

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.01em;
    color: #fff;
    padding-left: 179px;
    padding-top: 36px;
  }
}
