@import "variables";

.footer {

  &__contacts {
    display: grid;
    grid-template-columns: 570px 1fr;

    @media (max-width: $small-screen) {
      display: block;
    }

    @media (max-width: $media-screen) {
      grid-template-columns: repeat(2, 1fr);
    }

    .footer__photo {
      height: 100%;
      background: url(../images/smile-girl.png) no-repeat center;
      background-size: cover;

      @media (max-width: $small-screen) {
        height: 350px;
        width: 100%;
      }
    }

    .contacts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      padding: 98px 8% 90px;
      padding-right: 0;

      @media (max-width: $media-screen) {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10px;
        padding-left: 0;
      }

      @media (max-width: $small-screen) {
        display: block;
        padding: 0;
        text-align: center;
      }

      &__item {
        .contacts__header {
          font-size: 14px;
          line-height: 11px;
          color: $color-secondary;
          text-transform: uppercase;

          @media (max-width: $small-screen) {
            margin-top: 20px;
          }
        }

        .contacts__paragraph {
          margin-top: 55px;
          font-size: 14px;
          line-height: 23px;
          color: $color-thirty;

          @media (max-width: $small-screen) {
            margin-top: 10px;
          }
        }

        .contacts__phone {
          margin-top: 35px;
          font-size: 14px;
          line-height: 23px;
          color: $color-thirty;

          @media (max-width: $small-screen) {
            margin-top: 10px;
          }
        }

        .contacts__email {
          .contacts__link {
            color: #006dff;
          }
        }
      }
    }
  }
  .right {
    padding-left: 12%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: $color-main;

    &__text {
      margin-right: 6px;
      font-size: 14px;
      line-height: 11px;
    }
  }
}
