.footer {
  max-width: 2000px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &__someinfo {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
  }

  &__photo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.block-info {
  display: grid;
  grid-template-rows: 68px;
  max-width: 207px;

  &__link {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: rgba(34, 53, 111, 0.5);
    
    &:last-child {
      font-size: 14px;
      color: $button-color;
    }
  }

  &__title {
    color: $navbar-color;
  }

  &__suptitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    color: rgba(34, 53, 111, 0.5);

  }
}

.bottom {
  position: relative;
  height: 80px;
  background: $button-color;

  &__text {
    position: absolute;
    font-weight: 300;
    left: 194px;
    line-height: 80px;
    font-size: 14px;
  }
}

@media screen and (max-width:$middle-break-point) {
  .footer {
    &__someinfo {
      grid-template-columns: 1fr;
      margin-top: 30px;
      gap: 40px;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .footer {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width:$small-break-point) {
  .bottom {
    text-align: center;
  }
}
