.footer {
  height: 80px;
  background-color: #62d0df;
  align-items: center;
  box-sizing: border-box;
  display: grid;

  &__text {
    color: white;
    padding-left: 12%;

    font-size: 14px;
    line-height: 11px;
  }
}
