$text-color: r#22356f80;
$base-pad: 100px;

.footer {
	position: relative;
	height: 460px;
	display: grid;
	grid-template-areas: 
	"photo card-1 card-2 card-3"
	"copyright copyright copyright copyright";
	;
	
	&__image {
		height: 380px;
		width: 570px;
		background-image: url(../images/6.png);
		background-repeat: no-repeat;
		background-position: center;
		grid-area: photo;
	}
	
	&__card {
		width: 200px;
		padding-top: $base-pad/2;
				
		&--info {
			grid-area: card-1;
		}
		
		&--address {
			grid-area: card-2;
		}
		
		&--hours {
			grid-area: card-3;
		}
	}
	
	&__card-title {
		text-transform: uppercase;
		color: #22356f;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.006em;
		font-weight: bold;
		height: 48px;
		margin-bottom: 20px;
	}
	
	&__card-text {
		font-size: 14px;
		line-height: 23px;
		letter-spacing: -0.006em;
		color: $text-color;
	}
	
	&__copyright {
		height: 80px;
		background-color: #62d0df;
		color: #fff;
		padding-left: $base-pad*2;
		line-height: 80px;
		grid-area: copyright;
		
		&:before{
			content: "\00a9";
			position: relative;
			left: -6px;
		}
	}
	
	&__call {
		text-decoration: none;
		color: $text-color;
		cursor: pointer;
	}
	
	@media screen and (max-width:1280px) {
		
		& {
			grid-template-areas:
			"card-1 card-2 card-3"
			"photo photo photo"
			"copyright copyright copyright";
		}
		
		&__card {
			padding: $base-pad/2 $base-pad/5 0;
			width: 150px;
		}
		
		&__image {
			width: 100%;
			background-color: #F3C577;
		}
	}
	
	@media screen and (max-width:460px) {
		
		& {
			grid-template-areas:
			"card-1"
			"card-2"
			"card-3"
			"photo"
			"copyright";
			
			width: 100%;
		}
		
		&__image {
			width: 100%;
			background-size: cover;
		}
		
		&__card {
			width: 100%;
		}
		
		&__card-title {
			margin-bottom: 0;
		}
		
		&__copyright {
			padding-left: $base-pad/4;
		}
	}
	
}
