* {
  box-sizing: border-box;
}

html {
  font-family: Larsseit, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseitfamily/Larsseit.ttf");
  font-weight: normal;
  font-style: normal;
}
