.grid-block {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #fff;
  transition: transform 0.3s, font-size 0.3s;

  &::before {
    z-index: 1;
    position: absolute;
    content: "";
    top: 20%;
    left: 14%;
    width: 70%;
    height: 1px;
    background-color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    transition: opacity 0.5s;
  }

  &:hover::after {
    opacity: 0;
  }

  &:hover {
    font-size: 34px;
  }

  // &:hover {
  //   transform: scale(1.1);
  // }

  &__title {
    z-index: 1;
    position: relative;
    margin-top: 25%;
    margin-left: 20%;

    @media (max-width: 1199px) {
      margin-top: 15%;
    }

    &::after {
      content: "";
      position: absolute;
      top: $helpBlockFontSize / 2;
      transform: translateY(-50%);
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $dotsColor;
    }
  }
}
