
.header {
  min-height: 840px;

  @media (max-width: 992px) {
    min-height: 0;
    
    background-image: url(/images/1.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (max-width: 768px) {
    background-image: inherit;
  }

  &__nav {
    position: relative;
    height: 65px;
    width: 100%;
    padding-top: 27px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
  }

  &__input {
    display: none;
  }

  &__label {
    position: absolute;
    right: 5vw;
    top: 40px;
    color: $logo-color;
    visibility: hidden;
    z-index: 5;

    @media (max-width: 768px) {
      visibility: visible;
      right: 5vh;
    }

    @media (max-width: 600px) {
      right: 4vw;
    }

    &--line1,
    &--line2,
    &--line3 {
      height: 2px;
      width: 18px;
      margin-bottom: 3px;

      border-radius: 2px;
      background-color: $logo-color;
      
      transition: transform 0.3s;
    }
  }

  &__input:checked ~ &__label {

    .header__label--line1 {
      transform: rotate(45deg) translate(2px, 5px);
      background-color: $secondary-color;
    }

    .header__label--line2 {
      opacity: 0;
      background-color: $secondary-color;
    }

    .header__label--line3 {
      transform: rotate(-45deg) translate(2px, -5px);
      background-color: $secondary-color;
    }
  }

  &__subtitle {
    color: $logo-color;
    margin-left: 12vw;

    font-size: 24px;
    line-height: 27px;

    @media (max-width: 992px) {
      margin-left: 5vw;
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    

    @media (max-width: 768px) {
      height: 70px;
      
      width: 90vw;
      position: absolute;
      left: 5vw;
      padding-right: 12vw;

      font-size: 20px;
      background-color: $logo-color;
      color: $secondary-color;
      border-radius: 20px;

      visibility: hidden;
      opacity: 0;

      transition: opacity 0.3s, visibility 0.3s;
    }

    
    @media (max-width: 420px) {
      font-size: 14px;
    }
  }

  &__input:checked ~ .header__nav-list {
    visibility: visible;
    opacity: 1;
  }

  &__nav-link {
    position: relative;
    margin: 0 15px;
    
    
    color: $main-color;

    @media (max-width: 768px) {
      
      color: $secondary-color;
      padding: 20px;
      margin: 0;
    }

    @media (max-width: 500px) {
      color: $secondary-color;
      padding: 5px;
      margin: 0 5px;
    }

    &:before {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      left: 50%;
      bottom: -10px;

      background: $main-color;

      transition: color 0.3s,
        width 0.3s ease-in-out,
        left 0.3s ease-in-out;
    }

    &:after {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      background-color: $main-color;
      transition: width 0.3s ease-in-out;
      left: 50%;
      bottom: -10px;
    }

    &:hover {
      color: $logo-color;

      @media (max-width: 768px) {
        color: $emphasis-color;
      }
    }
    
    &:hover:before {
      width: 50%;
      left: 0;

      @media (max-width: 768px) {
        width: 0;
      }
    }

    &:hover:after {
      width: 50%;

      @media (max-width: 768px) {
        width: 0;
      }
    }
  }

  &__btn {
    margin-right: 12vw;

    width: 150px;
    height: 50px;

    background: $logo-color;
    border-radius: 50px;

    border: none;
    outline: none;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $secondary-color;
    transition: transform 0.3s;

    &:hover {
      background-color: #56dff1;
    }

    &:active {
      transform: scale(1.1);
    }

    @media (max-width: 992px) {
      margin-right: 5vw;
    }

    @media (max-width: 768px) {
      visibility: hidden;
      display: none;
    }
  }
  
  &__content {
    padding: 190px 12vw 0;
    max-width: 1000px;

    @media (max-width: 992px) {
      padding: 100px 5vw 5vw;
    }

  }

  &__content-subtitle {
    color: $logo-color;
    height: 100%;

    font-size: 24px;
    line-height: 27px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    margin-top: 30px;

    font-size: 48px;
    line-height: 53px;
    font-weight: bold;
    color: $main-color;
  }

  &__text {
    margin-top: 60px;

    font-size: 24px;
    line-height: 42px;

    color: $main-color;
  }

  &__button-container {
    margin-top: 80px;

    @media (max-width: 350px) {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    margin-top: 20px;
    margin-right: 15px;

    width: 150px;
    height: 50px;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $secondary-color;
    background: $emphasis-color;

    border: none;
    outline: none;
    cursor: pointer;

    transition: color 0.3s, background 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      color: $emphasis-color;
      background: inherit;
      box-shadow: 0 0 20px 1px $emphasis-color;
    }
  }

  &__bgc-container {
    width: 822px;
    height: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__bgc {
    background: $secondary-color;
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    height: 100vw;
    width: 300px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__bgc-2 {
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    right: -7%;
    top: 3%;
    z-index: -9;

    background: #edfdff;
    border-radius: 312px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    overflow: hidden;
  }

  &__bgc-img {
    position: absolute;
    width: 807px;
    height: 544px;
    right: -7%;
    top: 10%;
    z-index: -8;

    border-radius: 312px;

    overflow: hidden;

    transform: rotate(-30deg);

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__img {
    transform: rotate(30deg) scale(1.2);
  }
}
