.header {
  position: relative;
  color: $accent-color;
  background-color: #f4f9e2;
  padding-bottom: 75px;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;

  z-index: 1;

  &__section {
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin: 0 179px;
  }

  &__top {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__logo {
    font-size: $accent-font-size;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: $base-color;
  }

  &__button--top {
    display: inline-block;
    padding: 0 30px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background-color: $base-color;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in;

    &:hover {
      color: $base-color;
      background-color: #fff;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding-top: 110px;

    max-width: 484px;
  }

  &__caption {
    font-weight: 700;
    margin-bottom: 30px;
    color: $base-color;
  }

  &__title {
    margin-bottom: 60px;
    width: 500px;
    line-height: 53px;
    font-size: 2rem;
    letter-spacing: -0.04em;
  }

  &__description {
    line-height: 42px;
    margin-bottom: 60px;
  }

  &__button {
    width: 150px;
    height: 50px;

    font-size: 0.6rem;
    line-height: 23.5px;
    letter-spacing: 0.1em;
    color: $button-color;

    background-color: transparent;
    border: 1px;
    outline: transparent;

    transition: color 0.5s ease-in-out, background-color 0.5s ease-in;

    &:hover {
      width: 150px;
      height: 50px;
      background-color: $button-color;
      color: #fff;
    }
  }

  &__background--foto {
    position: absolute;
    z-index: -2;

    width: 800px;
    height: 544px;

    object-fit: contain;
    object-position: left;

    transform: rotate(30deg);
  }

  &__image-border {
    position: absolute;
    right: -11%;
    top: 10%;
    z-index: -1;

    width: 640px;
    height: 440px;

    overflow: hidden;

    border-radius: 312px;

    transform: rotate(-30deg);
  }

  &__background--color {
    position: absolute;
    width: 807.71px;
    height: 450px;
    left: 900px;
    top: -120px;
    z-index: -2;

    background: #edfdff;
    border-radius: 312px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .header__image-border {
    right: -14%;

  }
}

@media (max-width: $medium-screen) {
  .header {
    display: flex;
    justify-content: center;

    &__section {
      display: flex;
      flex-direction: column;
      margin: 0 20px;
    }

    &__top {
      display: flex;
      flex-direction: column;
    }

    &__logo {
      font-size: 1.5rem;
      margin: 60px;
    }

    &__title {
      width: 100%;
    }

    &__photos {
      display: none;
    }

    &__button {
      width: 130px;
      margin-bottom: 20px;

      &:hover {
        width: 130px;
      }
    }
  }
}
