html {
  scroll-behavior: smooth;
}

.header {
  position: relative;
  max-width: 1600px;
  margin: auto;
  background-color: #f4f9e2;
  overflow: hidden;

  &__container {
    max-width: 1140px;
    margin: auto;
    padding: 0 30px;
  }

  &__img-fon {
    position: absolute;
    top: 335px;
    right: 0;
    height: 545px;
    width: 808px;
    border-radius: 312px;
    background: #edfdff;
    transform: rotate(-60deg);
    transform-origin: 30% top;
  }

  &__square {
    position: absolute;
    top: 0;
    right: 0;
    height: 860px;
    width: 300px;
    background-color: #fff;
  }

  &__img-container {
    position: absolute;
    height: 545px;
    width: 808px;
    top: 230px;
    right: -75px;
    border-radius: 312px;
    transform: rotate(-30deg);
    transform-origin: 30% top;
    overflow: hidden;
  }

  &__img {
    position: relative;
    transform: rotate(30deg);
    top: -80px;
    left: -100px;
    width: 1117px;
    height: 840px;
    background-image: url(/images/header/main-img.png);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 27px 0;

  &__logo {
    display: block;
    font-family: Larsseit, sans-serif;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #62d0df;
    text-decoration: none;
    transition: 1s;
    z-index: 1;

    &:hover {
      display: flex;
      transform: scale(1.3);
    }
  }

  &__contact {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    background: #62d0df;
    border: 1px solid #62d0df;
    border-radius: 50px;
    font-family: Larsseit, sans-serif;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    z-index: 4;
    transition: 0.5s;

    &:hover {
      color: #62d0df;
      background-color: #fff;
    }
  }
}

.nav {
  z-index: 1;

  &__toggler {
    display: none;
  }

  &__toggler-label {
    display: none;
    cursor: pointer;
    padding: 10px;
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    transition: 0.5s;
  }

  &__toggler-label:hover {
    transform: scale(1.2);
  }

  &__toggler-label::before {
    content: "≡";
    color: #62d0df;
  }

  &__toggler:checked + .nav__toggler-label::before {
    content: "×";
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 233px;
    transition: 1s;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    position: relative;
    font-family: Larsseit, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #22356f;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;

    &:hover {
      color: #62d0df;
    }

    &--is-active {
      &::after {
        content: "";
        width: 25%;
        transition: transform 1s;
      }

      &:hover::after {
        content: "";
        position: absolute;
        transform: scaleX(5);
        height: 3px;
        text-align: center;
        background: #62d0df;
        bottom: 0;
        left: 40%;
      }
    }
  }

  @media (max-width: 1023px) {
    & {
      justify-content: space-between;
    }

    &__list {
      position: absolute;
      top: 100px;
      right: 0;
      display: block;
      text-align: center;
      background-color: rgba(244, 249, 226, 0.7);
      padding: 20px 28px 20px 0;
      border-radius: 10%;
      margin: auto;
      color: #62d0df;
      width: 100%;
      opacity: 0;
      z-index: 10;
    }

    &__toggler-label {
      display: block;
    }

    &__item {
      padding: 10px;
      max-width: 100%;
    }

    &__link {
      &:hover {
        color: #62d0df;
      }
    }

    &__toggler:checked ~ &__list {
      display: block;
      opacity: 1;
    }
  }
}

.title-box {
  position: relative;
  max-width: 485px;
  z-index: 1;

  &__name {
    font-family: Larsseit, sans-serif;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #62d0df;
    margin-top: 134px;
  }

  &__title {
    font-family: Larsseit, sans-serif;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.04em;
    color: #22356f;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  &__description {
    font-family: Larsseit, sans-serif;
    font-size: 24px;
    line-height: 42px;
    color: #22356f;
  }

  &__button {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-top: 63px;
    margin-right: 38px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-family: Larsseit, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #f9b640;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 75px;

    &--active {
      background: #f9b640;
      color: #fff;
    }

    &:hover {
      background: #f9b640;
      color: #fff;
    }
  }
}

@media (max-width: 440px) {
  .header__container {
    padding: 0 5px;
  }

  .menu__contact {
    width: 100px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
  }

  .nav__list {
    padding: 20px 2px 20px 0;
  }

  .title-box__button {
    display: block;
    margin: 30px auto;
  }
}
