
.header {
  @include flex_aligning ($horizontal: space-between, $vertical: center);
  padding-left: 50px;
  background-color: #f4f9e2;
  position: relative;

  &--wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: $color_sky_blue;
    @include hover (transform, scale(1.05));
  }

  &__link {
    position: relative;
    padding: 15px 25px;
    background-color: $color_sky_blue;
    color: $color_white;
    border-radius: 50px;
    margin-right: 50px;
    border: 2px solid $color_sky_blue;
    @include hover (color, $color_sky_blue);
    @include hover (background-color, $color_white);
    z-index: 1;
  }

  &__menu_checkbox {
    display: none;
  }

  &__burger--wrapper {
    width: 40px;
    height: 35px;
    position: absolute;
    bottom: -15px;
  }

  &__burger {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 3;
    height: 3px;
    width: 40px;
    cursor: pointer;
    background-color: #444;
    transition: transform $duration,
      opacity $duration,
      background-color 1s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }

    &::before {
      position: absolute;
      content: "";
      height: 3px;
      width: 40px;
      background-color: #444;
      top: 15px;
      transition: transform $duration, background-color 1s;
    }

    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: 40px;
      background-color: #444;
      bottom: 15px;
      transition: transform $duration, background-color 1s;
    }
  }

  &__menu_checkbox:checked ~ .mobile {
    transform: rotate(0deg);
  }

  &__menu_checkbox:checked ~ .header__burger {
    transform: rotate(-45deg);
    background-color: #fff;

  }

  &__menu_checkbox:checked ~ .header__burger::before {
    transform: rotate(90deg) translate(-15px, 0);
    background-color: #fff;

  }

  &__menu_checkbox:checked ~ .header__burger::after {
    transform: translate(0, 15px);
    background-color: #fff;

  }

}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 800px) {

  .header__link {
    display: none;
  }

  .header__burger {
    display: block;
  }
}
