.header {
  background-color: #f4f9e2;

  &__previev {
    margin-left: 180px;
    z-index: 3;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-left: 179px;
  }

  &__logo {
    margin: 35px 0 187px;
    z-index: 3;
  }

  &__nav {
    margin-top: 27px;
  }

  &__img {
    background-image: url("../images/header-imag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    width: 626px;
    height: 686px;
    top: 35px;
    right: 0;
  }

  &__oval {
    background: red;
    width: 200px;
    height: 280px;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
    top: 10px;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  &__rectangle {
    width: 320px;
    height: 900px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $textFontCol;
  }

  &__button {
    background-color: $logoColor;
    border-radius: 50px;
    padding: 19px 0;
    margin: 27px 190px 0 0;
    white-space: nowrap;
    z-index: 3;
    transition: transform 0.5s, background-color 0.5s;

    &:hover {
      transform: scale(1.1);
      background-color: #4699a4;
      color: black;
    }
  }
}

@media screen and (max-width: $smallScreen) {
  .header {
    &__logo {
      margin-left: 0;
    }
    &__top,
    &__previev {
      margin-left: 40px;
    }
    &__img,
    &__oval,
    &__rectangle {
      display: none;
    }
    &__button {
      position: absolute;
      top: 90px;
      left: 30px;
    }
  }
}
