.health {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 33.3vw);

  &__card {
    display: flex;
    justify-content: center;
    padding: 7vw 0 0 48px;

    &:nth-child(1) {
      background-color: $mainFontColor;
    }

    &:nth-child(2) {
      background-color: #0052c1;
    }

    &:nth-child(3) {
      background-image: url("../images/joanna-kosinska-340748.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:nth-child(4) {
      background-color: $logoColor;
    }

    &:nth-child(5) {
      background-color: #dee1ff;
    }

    &:nth-child(6) {
      background-color: #8f00ff;
    }
  }
}

@media screen and (max-width: $smallScreen) {
  .health {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 33.3vw);
  }
}
