.help {
  padding-top: 76px;

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: $c-textOpacity;
    text-transform: uppercase;
  }

  &__info {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, minmax(255px, 1fr));
  }

  &__card {
    position: relative;
    height: 360px;
  }

  &__shadow {
    margin: 0 auto;
    width: 255px;
    height: 72px;
    box-shadow: inset 0 -1px 0 $c-textLight;
  }

  &__text {
    margin-left: 78px;
    margin-top: 23px;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: $c-textLight;
  }

  &__text::before {
    content: "";
    position: absolute;
    left: 54px;
    top: 107px;
    height: 9px;
    width: 9px;
    background: $c-marker;
    border-radius: 50%;
  }

  &__info > :nth-child(1) {
    background-color: #ffe2de;
  }

  &__info > :nth-child(2) {
    background-color: #c4e769;
  }

  &__info > :nth-child(3) {
    background-color: $c-logo;
  }

  &__info > :nth-child(4) {
    background-color: #0052c1;
  }
}
