.help-you {
  height: 525px;
  background-color: #fff;

  &__title {
    font-family: Larsseit, sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(34, 53, 111, 0.5);
    margin-bottom: 24px;
  }
}

.block {
  display: flex;
  height: 100%;

  &__item {
    width: 360px;
    height: 360px;
    background: #ffe2de;
    flex-grow: 1;
    border: 1px solid transparent;
    justify-content: center;
    cursor: pointer;
    transition: 1s;

    &--green {
      background-color: #c4e769;
    }

    &--light-blue {
      background-color: #62d0df;
    }

    &--blue {
      background-color: #0052c1;
    }

    &:hover {
      transform: scale(1.1);
      border: 1px solid #fff;
    }
  }

  &__content {
    max-width: 75%;
    margin: auto;
  }

  &__line {
    max-width: 100%;
    height: 72px;
    box-shadow: inset 0 0 0 #fff;
    margin: 0 auto 23px;
    border-bottom: 1px solid #fff;
  }

  &__list {
    font-family: Larsseit, sans-serif;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.01em;
    // max-width: 230px;
    color: #e9b730;
    margin-left: -10px;

    &-item {
      margin: auto;
    }

    &-text {
      color: #fff;
    }
  }
}
