.help {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.help__img {

  background-image: url(../images/help.png);
  background-position: center;
  background-size: cover;
}

.help__main {
  padding-left: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.help__main--title {
  padding-top: 103px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;

  color: #22356f;
}

.help__main--content {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356f;
  padding-top: 100px;
}

.span__text {
  color: #62d0df;
}

.help__main--button {
  margin-top: 100px;
  width: 150px;

}

.help__main--text {
  font-size: 16px;
  line-height: 23px;
  color: #fab63e;
  padding: 15px;

}

.help__main--text:hover {
  background-color: #f9b640;
  color: white;
}

@media screen and (max-width:730px) {
  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__main {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
    }

    &__main--content {
      padding: 20px 0;
    }

    &__main--title {
      text-align: center;
    }

    &__main--button {
      margin-top: 20px;
    }

    &__img {
      width: 100%;
      height: 10vh;
      background-position: center;
      background-size: cover;
      object-fit: fill;
    }
  }

}
