.help {
  display: flex;

  &__card {
    
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 25vw;
    padding: 5vw 0 0 48px;

    &:nth-child(1) {
      background-color: #ffe2de;
    }

    &:nth-child(2) {
      background-color: #c4e769;
    }

    &:nth-child(3) {
      background-color: $mainColor;
    }

    &:nth-child(4) {
      background-color: #0052c1;
    }
  }
}

@media (max-width: 1279px) {
  .help {
    flex-direction: column;

    &__card {
      width: 100%;
    }
  }
}
