.help {

  &__phrase {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(34, 53, 111, 0.5);
  }

  &__container {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
    margin-bottom: 120px;
    justify-content: center;
  }

  &__block {
    display: flex;
    position: relative;
    padding-top: 95px;
    padding-left: 54px;

    width: 360px;
    height: 360px;

    font-size: 34px;
    line-height: 36px;
    color: #fff;
    text-transform: none;
    transition: 0.6s;

    &:hover {
      transform: scale(0.9);
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }

    &-1 {
      background-color: #ffe2de;
    }

    &-2 {
      padding-right: 35px;
      background-color: #c4e769;
    }

    &-3 {
      background-color: #62d0df;
    }

    &-4 {
      background-color: #0052c1;
    }

    &::before {
      content: "";
      display: inline-block;
      margin-right: 15px;
      margin-top: 10px;

      width: 9px;
      height: 9px;

      background-color: $colorOrange;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 20%;

      width: 255px;
      height: 1px;

      background-color: $colorWhite;
    }
  }
}

@media (max-width: 1439px) {
  .help__container {
    display: grid;
    grid-template-columns: repeat(2,360px);
  }
}

@media (max-width: 500px) {
  .help__container {
    display: grid;
    grid-template-columns: 300px;
  }

  .help__block {
    width: 300px;
    height: 300px;

    &::after{
      width: 200px;
    }
  }
}


