
* {
  box-sizing: border-box;
}

@import "reset";
@import "utils";
@import "fonts";
@import "_typography.scss";

@import "header.scss";
@import "nav.scss";
@import "top_article";
@import "why_thrive.scss";
@import "about_us.scss"
