.info {
  display: grid;
  grid-template-columns: 35% 1fr;

}

.info__img {
  box-sizing: content-box;
  background-image: url(../images/info.png);
  background-size: cover;
  background-position: center;
}

.info__main {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  padding: 10%;
}

.info__main--text {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.06em;

  color: rgba(34, 53, 111, 0.5);
  padding-top: 20%;
  width: 115px;

}

.info--number {
  display: block;
  margin-top: 25px;
}

.info--link {
  display: block;
  padding-top: 10%;
  text-decoration: none;
  color: blue;
}

@media screen and (max-width:630px) {
  .info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .info__img {
    display: none;
  }

  .info__main {
    display: grid;
    justify-content: space-around;
  }
}

@media screen and (max-width:450px) {
  .info__main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .info__main--content {
    padding-bottom: 20px;
  }
}
