.info {
  display: grid;
  grid-template-areas: "text img"
    "text img";

  background-color: $leading-color;

  &__description {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-area: text;
    padding-bottom: 70px;

    color: $regular-color;
  }
  &__title {
    align-self: center;

    font-size: 36px;
    font-weight: $fw-bold;
  }

  &__text {
    width: 550px;

    font-size: 20px;
    line-height: 29px;
  }

  &__text--bold {
    font-weight: $fw-bold;
    font-size: $fsz-m;
    line-height: 35px;
  }

  &__img {
    justify-self: end;
    grid-area: img;
    height: 100%;

    object-fit: contain;
  }
}

@media (max-width: 1100px) {
  .info {
    grid-template-areas: "text"
      "img";

    &__img {
      justify-self: center;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    &__title {
      justify-self: center;
    }
  }
}

@media  (max-width: 550px) {
  .info {
    &__text {
      width: 300px;

      font-size: 18px;
      line-height: 29px;
    }

    &__text--bold {
      font-size: 20px;
    }
  }
} 
