@import "utils";
@import "reset";
@import "placeholder";
@import "button";
@import "grid-block";

@import "header/header";
@import "header/navigation";
@import "header/promo";

@import "main/why";
@import "main/about";
@import "main/help";

* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  scroll-behavior: smooth;
}

body {
  background: #f4f9e2;
}

.container {
  margin: 0 auto;
  width: 1300px;
  position: relative;

  @media (min-width: 1900px) {
    width: 1437px;
  }
}
