@import "./utils/variables.scss";
@import "./utils/reset.scss";
@import "./utils/mixin.scss";
@import "./utils/extends.scss";
@import "./utils/keyframes.scss";
@import "./blocks/health.scss";
@import "./blocks/help-you.scss";
@import "./blocks/about-us.scss";
@import "./blocks/why-thrive.scss";
@import "./blocks/course.scss";
@import "./blocks/you-know.scss";
@import "./blocks/contact-us.scss";
@import "./blocks/office.scss";
@import "./blocks/footer.scss";
@import "./blocks/nav.scss";
@import "./blocks/info.scss";
@import "./blocks/header.scss";

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit family/Larsseit-Medium.ttf");
  src: url("../fonts/Larsseit family/Larsseit-Bold.ttf");
  src: url("../fonts/Larsseit family/Larsseit-Light.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  font-style: normal;
  overflow-y: scroll;

}

body {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
