@import "./_fonts.scss";
@import "./utils/_vars.scss";
@import "./utils/_mixins.scss";
@import "./utils/normalize.scss";
@import "./utils/styles.scss";

@import "./blocks/link.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/helping.scss";
@import "./blocks/why.scss";
@import "./blocks/about-us.scss";
@import "./blocks/blocks.scss";
@import "./blocks/can-help.scss";
@import "./blocks/item.scss";
@import "./blocks/card.scss";
@import "./blocks/advices.scss";
@import "./blocks/should-know.scss";
@import "./blocks/contact-us.scss";
@import "./blocks/info.scss";
@import "./blocks/footer.scss";
