body {
  font-family: "Larsseit", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.anchor {
  display: none;
}

@import "__variables";
@import "fonts";
@import "reset";
@import "toggler";
@import "nav";
@import "headpage";
@import "whyThrive";
@import "about";
@import "help";
@import "health";
@import "advice";
@import "also";
@import "contact";
@import "additional";
@import "footer";
@import "header";
