@import "reset";
@import "nav";
@import "description";
@import "features";
@import "about";
@import "blocks";
@import "text-blocks";
@import "also";
@import "contact";
@import "footer";

@font-face {
  font-family: Larsseit;
  src: url(../fonts/Larsseit/Larsseit-Medium.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-family: Larsseit, serif !important;
}
