@import "utils";
@import "typography";
@import "about";
@import "courses";
@import "services";
@import "target";
@import "additional";
@import "contacts";
@import "footer";
@import "nav";
@import "intro";
@import "therapy";
@import "header";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: Larsseit, sans-serif;
  margin: 0;
}
