@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "why-thrive";
@import "about";
@import "help";
@import "other-help";
@import "services";
@import "get-help";
@import "assessment";
@import "contact";
@import "copyright";

body {
  margin: 0;
  background: $c-gray;
}

h1,
p,
ul {
  margin: 0;
}

.page-container {
  max-width: 1600px;
  height: 100%;
  background-color: rgba(185, 175, 175, 0.91);
  margin: auto;
}
