@import "utils";
@import "typography";
@import "reset";
@import "header";
@import "nav";
@import "button";
@import "promo";

body {
  background: #e5e5e5;
}

html {
  font-family: "Larsseit", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  scroll-behavior: smooth;
}
