@import "_utils";
@import "_fonts";
@import "_typography";
@import "_reset";

@import "header";
@import "why-thrive";
@import "about-us";
@import "blocks";
@import "also";
@import "contact-us";
@import "contacts";
@import "footer";

@font-face {
  font-family: "LarsseitBold";
  src: url(/fonts/Larsseit/Larsseit-Bold.eot);
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: "Larsseit";
  src: url(/fonts/Larsseit/Larsseit-Bold.eot);
  font-weight: normal;
  font-style: normal;
}*/

html {
  font-family: "LarsseitBold", sans-serif;
  font-weight: normal;
}

body {
  /*background-color: #f4f9e2;*/
  background-color: $secondary-color;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 1500px) {
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
  }
}
