.menu {
  z-index: 1;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 131px 0 179px;
  width: 100%;

  @media screen and(max-width: 850px) {
    flex-direction: column;
    align-items: center;
    padding: 27px 20px 20px;
    &__nav {
      margin: 20px;
    }
  }

  &__logo {
    font-size: 25px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: $c-logo;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    color: $c-textLight;
    background-color: $c-logo;
    border-radius: 50px;
  }
}
