.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 16px;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding: 14px 7px;
    font-size: 14px;
    line-height: 16px;
    color: $c-textDark;
    transition: color 0.3s;
  }

  &__link:hover {
    color: $c-logo;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      box-shadow: inset 0 -1px 0 $c-textDark;
    }
  }
}
