.nutritional {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  padding: 50px;

  &__text--wrap {
    display: grid;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
    max-width: 300px;
  }

  &__box {
    text-align: center;
  }

  &__title {
    margin-top: 0;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;

    color: $c-blue;
  }

  &__text {
    padding-top: 20px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;

    color: rgba(34, 53, 111, 0.5);
  }
}

@media screen and (max-width:$bp-large-about) {
  .nutritional {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    align-items: center;
  }
}

@media screen and (max-width:$bp-midium-contact) {
  .nutritional {
    display: block;

    &__box {
      display: flex;
      justify-content: center;
    }
  }
}
