.previev {
  max-width: 485px;

  &__heading {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  &__text {
    font-size: 24px;
    line-height: 42px;
    margin-right: 30px;
  }

  &__button {
    display: inline-block;
    padding: 19px 0;
    margin: 40px 0 80px;
    background-color: #f9b640;
    transition: transform 300ms, background-color 300ms;

    &:hover {
      transform: scale(1.1);
      background-color: #936b25;
    }
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    padding-left: 38px;
    color: #f9b640;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 300ms, color 300ms;

    &:hover {
      transform: scale(1.1);
      color: #a06e39;
    }
  }
}
