.promo {
  display: flex;
  flex-direction: column;

  &__company {
    font-weight: bold;
    color: $highlightedColor;
    letter-spacing: -0.04em;
  }

  &__title {
    margin-top: 40px;
    color: $textColor;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.04em;

    @media (max-width: 1024px) {
      font-size: 30px;
      width: 70%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__description {
    margin-top: 80px;
    line-height: 42px;
    color: $textColor;
  }

  &__wrapper {
    display: flex;
    margin-top: 63px;
  }

  &__button {
    margin-right: 38px;
  }
}
