.container__question {
  display: grid;
  grid-template-columns: 65% 1fr;
  justify-content: center;
  background-color: #62d0df;

  box-sizing: border-box;

}

.question__main {
  padding: 120px 100px 95px;
  display: grid;
  justify-content: center;
  width: 555px;
}

.question_title {
  display: grid;
}

.question__title--text {
  padding-bottom: 50px;
  font-style: bold;
  font-size: 36px;
  color: white;
}

.question__content {

  margin-top: 25px;
}

.question__content--text {
  font-size: 24px;
  color: white;
  line-height: 29px;

}

.qustion__img {
  height: 100%;
  background-image: url(../images/christopher-campbell-40367.png);
  background-size: cover;
}
