.container__question {
  display: grid;
  grid-template-columns: 65% 1fr;
  justify-content: center;
  background-color: #62d0df;

  box-sizing: border-box;

}

.question__main {
  padding: 100px 10vw 95px;
  display: grid;
  justify-content: center;
  width: 555px;
}

.question_title {
  display: grid;
}

.question__title--text {
  padding-bottom: 50px;
  font-style: bold;
  font-size: 36px;
  color: white;
}

.question__content {

  margin-top: 25px;
}

.question__content--text {
  font-size: 24px;
  color: white;
  line-height: 29px;

}

.qustion__img {
  width: 100%;
}

.qustion__img--fhoto {
  object-fit: fill;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1040px) {
  .question {
    display: flex;
    flex-direction: column;

    &__main {
      width: 100%;
      padding: 0 ;
      padding-bottom: 20px;
    }

    &__img {
      height: 400px;
    }
    &__img--fhoto {
      object-fit: fill;
      object-position: center;
    }

    &__title--text {
      padding-left: 20px;
    }

    &__content--text {
      padding: 0 20px;
    }
  }
}
