* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: $mainFontColor;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
}
