.second-section {
  overflow: hidden;
  background-color: #62d0df;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 35px;
  &__article {
    align-self: center;
    flex-basis: 555px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 180px;
    &__title {
      margin-bottom: 75px;
      &--bold-text {
        font-weight: bold;
      }
    }
  }
  &__photo {
    background-repeat: no-repeat;
    justify-self: end;
  }
}

@media (max-width:1360px) {
  .second-section {
    &__article {
      padding: 0 20px 0 80px;
    }
  }
}
