.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 480px;
  margin-top: 120px;

  &__type {
    display: grid;
    justify-content: center;
  }

  &__type--physical {
    background-color: $accent-color;
  }

  &__type--mental {
    background-color: #0052c1;
  }

  &__type--nutrition {
    background: no-repeat url(../images/smoothies.png);
    background-size: cover;
    background-position: center;
  }

  &__type--gymnastics {
    background-color: $base-color;
  }

  &__type--crossfit {
    background-color: #dee1ff;

  }

  &__type--aerobics {
    background-color: #8f00ff;
  }

  &__title {
    position: relative;
    margin-top: 57px;
    padding: 27px 20px;
    width: 242px;

    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;

    border-top: 2px solid #fff;

    &::before {
      position: absolute;
      left: 0;
      top: 10%;

      width: 9px;
      height: 9px;

      content: "";

      border-radius: 50%;

      background: #e9b730;
    }
  }
}

@media (max-width: 900px) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-auto-rows: 300px;

    &__title {
      &::before {
        top: 19%;
      }
    }
  }
}
