.should {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__picture {
    background-image: url("../images/youShouldAlso.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 480px;
  }

  &__info {
    padding: 103px 30px 42px;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $c-textDark;
    background-color: $c-page;
  }

  &__text {
    margin-top: 225px;
    font-size: 36px;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: $c-textDark;
    background-color: $c-whiteOpacity;
  }

  &__text--selected {
    color: $c-logo;
  }

  &__link {
    display: inline-block;
    width: 100%;
    margin-top: 152px;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $c-whoAmI;
    background-color: $c-page;
  }

  @media screen and(max-width: 1280px) {
    justify-content: end;
    &__info {
      z-index: 1;
      height: 800px;
    }

    &__picture {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
