.some {
  display: flex;
}

.some__container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 0 auto;
  @include Mobile {
    flex-direction: column;
    margin: 0 auto;
  }
  @include SmallPhone {
    flex-direction: column;
  }
  @include Tablet {
    width: 1024px;
  }
}

.some__image {
  display: flex;
  width: 570px;
  height: 380px;
  margin: 0 auto;
  @include Mobile {
    width: 280px;
    height: 100%;
  }
  @include SmallPhone {
    width: 600px;
    height: 100%;
    padding: 20px;
  }
  @include Tablet {
    width: 400px;
    height: 100%;
  }
  @include LargeScreens {
    width: 555px;
    height: 100%;
  }
}

.some__text_container {
  padding-top: 98px;
  padding-left: 68px;
  display: flex;
  flex-direction: row;
  @include Mobile {
    padding: 20px;
    flex-direction: column;
  }
  @include SmallPhone {
    width: 600px;
    padding: 20px;
  }
  @include Tablet {
    width: 600px;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include Notebook {
    padding-top: 120px;
    padding-left: 20px;
  }
  @include t1440 {
    padding-left: 40px;
  }
}

.some__card {
  padding-right: 32px;
  @include Mobile {
    padding-right: 0;
    padding-bottom: 60px;
  }
  @include SmallPhone {
    width: 180px;
    padding-right: 20px;
  }
  @include Tablet {
    width: 180px;
    margin-right: 10px;
  }
  @include Notebook {
    width: 200px;
    margin-right: 22px;
  }
  @include TheDesign {
    width: 260px;
    margin-right: 60px;
  }
  @include FullHD {
    width: 400px;
    margin-right: 26px;
  }
}

.some__title {
  font-family: "Larsseit", sans-serif;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.01em;

  color: #22356f;
  width: 240px;
  height: 48px;
  text-transform: uppercase;
  @include Mobile {
    height: 14px;
  }
  @include SmallPhone {
    width: 180px;
  }
  @include Tablet {
    width: 150px;
  }
  @include Notebook {
    width: 120px;
  }
}

.some__information {
  font-family: "Larsseit", sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.01em;

  color: rgba(34, 53, 111, 0.5);
  width: 207px;
  height: 115px;
  @include Mobile {
    height: 80px;
    padding-top: 20px;
  }
  @include SmallPhone {
    width: 180px;
  }
  @include Tablet {
    width: 170px;
  }
  @include Notebook {
    width: 170px;
  }
}

.some__phone {
  text-decoration: none;
  font-family: "Larsseit", sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: rgba(34, 53, 111, 0.5);
}
