@import "variables";

.targets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 22px 5px 40px;
  background-color: #fff;

  @media (max-width: $small-screen) {
    display: block;

    // text-align: center;
  }

  .target {
    padding: 55px 22% 37px;
    padding-right: 0;

    @media (max-width: $media-screen) {
      padding-left: 25px;
    }

    @media (max-width: $small-screen) {
      padding: 20px 0;
    }

    &__header {
      font-size: 28px;
      line-height: 33px;
      color: $color-secondary;
    }
    @media (max-width: $small-screen) {
      margin: 0 auto ;
      max-width: 320px;
      text-align: center;
    }

    &__paragraph {
      margin-top: 28px;
      font-size: 16px;
      line-height: 25px;
      color: $color-thirty;
      max-width: 298px;

      @media (max-width: $small-screen) {
        margin: 20px auto 0;
        max-width: 320px;
        text-align: start;
      }
    }
  }
}
