.text__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 16.67vw);
  

  &_card {
    padding: 4% 16% 8% 22%;
  }

  &_heading {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
  }

  &_text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: $mainFontColor;
  }
}

@media screen and (max-width: $smallScreen) {
  .text__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 200px);
    &_card {
      padding: 40px;
    }
    &_heading {
      line-height: 28px;
    }
    &_text {
      opacity: 0.5;
    }
  }
}
