.text-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 16.67vw);
  

  &__card {
    padding: 4% 16% 8% 22%;
  }

  &__heading {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: $textCardsColor;
  }
}

@media (max-width: 1279px) {
  .text-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 150px);

    &__card {
      padding: 40px;
    }

    &__heading {
      line-height: 30px;
    }

    &__text {
      line-height: 20px;
    }
  }
}
