@import "variables";

.therapists {
  display: flex;
  padding-left: 12.5%;
  background-color: #62d0df;

  @media (max-width: 1279px) {
    padding-left: $padding-middle;
  }

  &__text {
    flex-grow: 1;

    .therapists__header {
      margin-top: 151px;
      font-size: 36px;
      line-height: 27px;
      color: #fff;
    }

    .therapists__paragraph {
      margin-top: 75px;
      margin-bottom: 90px;
      font-size: 20px;
      line-height: 29px;
      color: #fff;

      @media (max-width: 1279px) {
        font-size: 15px;
      }

      .therapists__span {
        font-size: 24px;
        line-height: 35px;

        @media (max-width: 1279px) {
          font-size: 18px;
        }
      }
    }
  }

  &__photo {
    width: 525px;
    background-image: url(../images/girl.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
