
@media (max-width: 570px) { 
  .toggler {
    position: absolute;
    opacity: 0;
    top:-100%;

    &__button {
      display: block;
      position: relative;
      margin: 30px auto 0;

      width: 40px;
      height: 30px;

      cursor: pointer;
      z-index: 2;
    }
  }

  .nav__toggler:checked ~ .toggler__button > .toggler__span {
    transform: rotate(45deg);
  }
  .nav__toggler:checked ~ .toggler__button > .toggler__span::before {
    top: 0;
    transform: rotate(0);
  }
  .nav__toggler:checked ~ .toggler__button > .toggler__span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .nav__toggler:checked ~ .nav__list {
    visibility: visible;
    top: 80px;
  }

  .toggler__span,
  .toggler__span::before,
  .toggler__span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 4px;

    background-color: $colorOrange;

    transition-duration: .3s;
  }
  .toggler__span::before {
    content: '';
    top: -8px;
  }
  .toggler__span::after {
    content: '';
    top: 8px;
  }

  .nav {
    position: relative;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    margin: 0 auto;
    top: -1000%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 300px;
    
    padding: 20px 0;

    list-style: none;

    background-color: $colorOrange;
    border-radius: 5px;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, .3);

    transition-duration: .3s;
    z-index: 2;
  }

  .nav__link {
    background-color: $colorOrange;
    font-size: 20px;


    &:hover {
      transform: scale(1.2);
    }
  }
}