.top_article {
  position: relative;
  background-color: #f4f9e2;

  &__wrapper {
    position: relative;
    height: 840px;
    transition: height $duration;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__block--1 {
    position: absolute;
    margin-top: 130px;
    max-width: 470px;
    z-index: 1;
  }

  &__title--link {
    display: inline-block;
    margin-left: 55px;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    padding: 5px;
    letter-spacing: -0.04em;
    color: $color_sky_blue;
    transition: transform $duration,
      border-radius $duration,
      background-color $duration,
      box-shadow $duration;

    &:hover {
      border-radius: 15px;
      background-color: rgba(26, 2, 241, 0.51);
      box-shadow: 0 3px 10px rgba(3, 27, 104, 0.99);
      transform: scale(1.1);
    }
  }

  &__title {
    min-width: 500px;
    margin-left: 55px;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -0.04em;
    color: $color_dark_blue;
    transition: font-size $duration;
  }

  &__paragraph {
    font-size: 24px;
    line-height: 42px;
    margin-left: 55px;
    color: $color_dark_blue;
    transition: font-size $duration;
  }

  &__link {
    display: inline-block;
    margin-left: 55px;
    color: #fab63e;
    padding: 10px 30px;
    transition: background-color $duration,
      transform $duration,
      border-radius $duration,
      box-shadow $duration;

    &:hover {
      transform: scale(1.05);
      background-color: #fab63e;
      color: $color_white;
      border-radius: 12px;
      box-shadow: 0 4px 10px #756e62;
    }
  }

  &__link--right {
    margin-left: 15px;
  }

  &__block--2 {
    right: 0;
    top: -75px;
    position: absolute;
    height: 100%;
    width: 700px;
    overflow: hidden;
  }

  &__background {
    position: absolute;
    width: 800px;
    height: 544px;
    right: -160px;
    top: 5px;
    background: #edfdff;
    border-radius: 312.16px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    transition: width $duration,
      height $duration;
  }

  &__img {
    position: absolute;
    height: 550px;
    width: 800px;
    top: 100px;
    right: -150px;
    overflow: hidden;
    border-radius: 310px;
    transform: rotate(-30deg);
    transition: width $duration,
      height $duration;

    &::after {
      content: "";
      position: absolute;
      right: 90px;
      top: -180px;
      background-image: url("../images/top_image.png");
      background-position: 50%;
      background-size: cover;
      width: 100%;
      height: 150%;
      transform: rotate(30deg);
      overflow: hidden;
    }
  }
}

@media (max-width: 1024px) {
  .top_article {
    height: 700px;
    transition: height $duration;
  }

  .top_article__background {
    width: 600px;
    height: 450px;
    top: -5px;
    right: -120px;
    transition: width $duration,
      height $duration;
  }

  .top_article__img {
    height: 450px;
    width: 600px;
    top: 80px;
    right: -100px;
    transition: width $duration,
      height $duration;
  }

  .top_article__img::after {
    right: 75px;
  }

  .top_article__title {
    font-size: 40px;
    line-height: 53px;
    transition: font-size $duration;
  }

  .top_article__paragraph {
    font-size: 21px;
    line-height: 35px;
    transition: font-size $duration;
  }
}

@media (max-width: 600px) {
  .top_article {
    height: 550px;
    transition: height $duration;
  }

  .top_article__background {
    width: 400px;
    height: 300px;
    top: 10px;
    transition: width $duration,
      height $duration;
  }

  .top_article__img {
    height: 300px;
    width: 400px;
    top: 70px;
    right: -100px;
    transition: width $duration,
      height $duration;
  }

  .top_article__img::after {
    right: 50px;
    top: -150px;
  }

  .top_article__title {
    margin-left: 25px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.1em;
    color: $color_dark_blue;
  }

  .top_article__paragraph {
    margin-left: 25px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    max-width: 300px;
  }

  .top_article__link {
    padding: 5px 20px;
    margin-left: 15px;
  }
}
