.top_article {
  padding-bottom: 100px;
  position: relative;
  height: 840px;

  &__block--1 {
    position: absolute;
    margin-top: 150px;
    max-width: 470px;
    z-index: 1;
  }

  &__span {
    display: inline-block;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: $color_sky_blue;
    @include hover (transform, scale(1.05));
  }

  &__title {
    margin-top: 20px;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.04em;
    color: $color_dark_blue;
  }

  &__paragraph {
    font-size: 24px;
    line-height: 42px;
    color: $color_dark_blue;
  }

  &__link {
    color: #fab63e;
    padding: 10px 30px;
    @include hover (color, $color_white);
    @include hover (background-color, #fab63e);
  }

  &__background {
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    right: -120.93px;
    top: -65px;
    background: #edfdff;
    border-radius: 312.16px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  }

  &__img {
    position: absolute;
    height: 550px;
    width: 800px;
    top: 30px;
    right: -100px;
    overflow: hidden;
    border-radius: 310px;
    transform: rotate(-30deg);

    &::after {
      content: "";
      position: absolute;
      right: 80px;
      top: -180px;
      background-image: url("../images/top_image.png");
      background-position: 50%;
      background-size: cover;
      width: 100%;
      height: 150%;
      transform: rotate(30deg);
    }
  }

}
