.trive {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
  z-index: 1;
}

.trive__main {

  display: grid;
  // margin-left: 23vh;
  justify-content: center;
}

.trive__main--title {

  height: 64px;
  padding-top: 150px;
}

.trive__main--text {

  color: #62d0df;
  font-size: 24px;
  line-height: 27px;
}

.trive__title {
  padding-bottom: 50px;

}

.trive_title--text {
  font-size: 48px;
  color: #22356f;
}

.trive__contant {
  box-sizing: border-box;
}

.trive__contant--text {
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.04em;
}

.trive__buttons {
  display: flex;
  padding-bottom: 50px;
}

.trive__buttons--contain {
  height: 50px;
  margin-top: 25px;
  text-align: center;
  color: #f9b640;
  transition: all 1s;
}

.trive__buttons--first {
  margin-right: 25px;
}

.trive__buttons--text {
  padding-top: 18px;
  margin: 0;
}

.trive__buttons--contain:hover {
  background-color: #f9b640;
  color: white;
}

.trive_img {
  background-image: url(../images/header.png) ;

  width: 807px;
  height: 544px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 320px;
  transform: matrix(-0.87, 0.5, 0.5, 0.85, 0, 0);

}

.trive_back {
  width: 807px;
  height: 544px;

  margin-left: -100px;
  background: #edfdff;
  border-radius: 320px;
  transform: matrix(-0.5, 0.77, 0.77, 0.5, 0, 0);

}

@media screen and (max-width: 1100px) {
  .trive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trive_back {
    display: none;
  }
  .trive__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
