$button-color: #62d0df;
$header-bg-color : #f4f9e2;
$navbar-color: #22356f;

$card-blue-color: #0052c1;
$card-markup: #e9b730;

$cards-with-heith: 360px;

$font-size-cards: 33px;
$font-size-caption: 16px;
