$base-color: #62d0df;
$accent-color:#22356f;
$accent-50-color:rgba(34, 53, 111, 1);
$button-color: #f9b640;

$card-width: 300px;
$contacts-screen: 600px;
$small-screen: 700px;
$medium-screen: 950px;
$large-screen: 1030px;

$base-font-size: 16px;
$accent-font-size: 24px;
