$padding-middle: 50px;
$padding-small: 5px;
$margin-small: 20px;
$width-small: 320px;

$media-screen: 1279px;
$small-screen: 1023px;

$color-main: #62d0df;
$color-secondary: #22356f;
$color-thirty: rgba(34, 53, 111, 0.5);

$fontSize-main: 14px;
