$headerBackground: #f4f9e2;
$mainColor: #62d0df;
$mainTextColor: #22356f;
$introButtonColor: #f9b640;
$mainLinkColor: #fff;
$textCardsColor: rgba(34, 53, 111, 0.5);
$secondLinkColor: #016dff;
$headerButtonHover: #4699a4;
$introButtonHover: #936b25;
