.why-thrive {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__info {
    padding: 151px 0 95px 179px;
    flex: 1 1 auto;
    background-color: $c-logo;
    color: $c-textLight;
  }

  &__title {
    font-size: 36px;
    line-height: 28px;
    letter-spacing: -0.01em;
  }

  &__text {
    margin-top: 75px;
    font-size: 20px;
    line-height: 35px;
  }

  &__text--bold {
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
  }

  &__picture {
    background-image: url("../images/whyThrive.png");
    background-position: center;
    background-size: cover;
    height: 604px;
    flex: 0 0 525px;
  }
}
