.why_thrive {
  background-color: #62d0df;

  &__wrapper {
    @include flex_aligning ($horizontal: space-between);
    max-width: 1440px;
    margin: 0 auto;
  }

  &__block-1 {
    display: flex;
    margin: 0 auto;
    align-items: center;

  }

  &__block-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    max-width: 555px;
    margin: 0 auto;
    color: $color_white;
  }

  &__title {
    margin-bottom: 90px;
    color: $color_white;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;
    transition: font-size $duration;
  }

  &__paragraph {
    font-size: 20px;
    line-height: 29px;
    margin: 0 auto;
    transition: font-size $duration;

  }

  &__paragraph-bold {
    font-size: 24px;
    line-height: 35px;
    transition: font-size $duration;
  }

  &__block-2 {
    display: flex;
  }

  &__img {
    width: 100%;
    max-width: 525px;
    object-fit: contain;
  }
}

@media (max-width: 950px) {
  .why_thrive__wrapper {
    display: flex;
    flex-direction: column;
  }

  .why_thrive__block-content {
    margin-top: 50px;
    text-align: center;
  }

  .why_thrive__title {
    margin-bottom: 50px;
  }

  .why_thrive__paragraph {
    margin-bottom: 50px;
  }

  .why_thrive__block-2 {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .why_thrive__block-content {
    max-width: calc(100% - 40px);
  }

  .why_thrive__title {
    font-size: 28px;
    line-height: 20px;
  }

  .why_thrive__paragraph {
    font-size: 18px;
    line-height: 24px;
  }

  .why_thrive__paragraph-bold {
    font-size: 20px;
    line-height: 28px;
  }
}
