.why_thrive {
  @include flex_aligning ($horizontal: space-between);
  align-items: center;
  background-color: #62d0df;

  &__block-content {
    display: flex;
    flex-direction: column;
    max-width: 555px;
    margin: 150px auto 0;
    color: $color_white;
    text-align: center;
  }

  &__title {
    color: $color_white;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.01em;
    transition: font-size $duration;
  }

  &__paragraph {
    font-size: 20px;
    line-height: 29px;
    transition: font-size $duration;
  }

  &__paragraph-bold {
    font-size: 24px;
    line-height: 35px;
    transition: font-size $duration;
  }

  &__block-2 {
    display: flex;
    text-align: center;
  }

  &__img {
    width: 100%;
    max-width: 525px;
    object-fit: contain;
  }
}

@media (max-width: 950px) {
  .why_thrive {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .why_thrive__block-content {
    max-width: calc(100% - 40px);
  }

  .why_thrive__title {
    font-size: 28px;
    line-height: 20px;
  }

  .why_thrive__paragraph {
    font-size: 18px;
    line-height: 24px;
  }

  .why_thrive__paragraph-bold {
    font-size: 20px;
    line-height: 28px;
  }
}
