.whyThrive {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  height: 604px;

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $colorLightBlue;
  }

  &__wrapper {
    position: relative;
    left: -25%;
    transform: translateX(40%);
    padding-left: 12px;
    max-width: 555px;
  }

  &__title {
    font-size: 36px;
    line-height: 27px;
    margin-bottom: 75px;
  }

  &__text {
    font-size: 20px;
    line-height: 29px;

    &-bold {
      font-size: 24px;
      line-height: 35px;
    }
  }

  &__img {
    background-image: url(/images/bc-image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;

  }
}
