@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit family/Larsseit-Medium.ttf");
  src: url("../fonts/Larsseit family/Larsseit-Bold.ttf");
  src: url("../fonts/Larsseit family/Larsseit-Light.ttf");
}
