@mixin mobile {
  @media (max-width: 499px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin wide {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@mixin maxWidth {
  max-width: 2560px;
  margin: 0 auto;
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
