* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  font-style: normal;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}
