* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", Arial, Helvetica, sans-serif;
  color: $darkBlueColor;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
ul,
ol,
li,
button,
input,
textarea,
a {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 16px;
  max-width: $maxwigth;
  min-width: $minwigth;
  margin: 0 auto;
  right: 0;
  left: 0;
}
