*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
