$c-gray: #eee;
$logo-color: #62d0df;
$main-color: #22356f;
$secondary-color: #fff;
$emphasis-color: #f9b640;
$pink-block-color: #ffe2de;
$green-block-color: #c4e769;
$blue-block-color: #0052c1;
$white-block-color:  #dee1ff;
$purple-block-color: #8f00ff;
