$linkColor: #22356f;
$blueColor: #0052c1;
$lightBlueColor: #62d0df;
$headerWidth: 85%;
$lightGreenColor: #c4e769;
$pinkColor: #ffe2de;
$whiteColor: #fff;
$greyColor: #dee1ff;
$violetColor: #8f00ff;
$orangeColor: #fab63e;
$dotColor: #e9b730;
$transition: 0.3s;
$mainFont: "Larsseit", sans-serif;
$portraitSize: 740px;
