$leading-color: #62d0df;
$text-color: #22356f;
$links-color: #fab63e;
$regular-color: #fff;
$point-color: #e9b730;

$fsz-m: 24px;
$fw-bold: bold;

$header-padding: 30px 100px;
$mobile-header-pd: 20px;

$buttons-transition: 600ms;
