$c-page: #fff;
$c-logo: #62d0df;
$c-header: #f4f9e2;
$c-headerOpacity: rgba(244, 249, 226, 0.7);
$c-textDark: #22356f;
$c-textLight: #fff;
$c-textOpacity: rgba(34, 53, 111, 0.5);
$c-whoAmI: #f9b640;
$c-marker: #e9b730;
