$highlightedColor: #62d0df;
$navigationTextColor: #22356f;
$textColor: #22356f;
$buttonColor: #fab63e;
$buttonHeaderSize: 50px;
$buttonHorizontalPadding: 30px;

$containerLeftPadding: 178px;

$whyPaddingTop: 151px;
$whyPaddingBottom: 95px;
