$c-gray: #eee;
$main-color: #62d0df;
$white-color: #fff;
$dark-blue: #22356f;
$orange-color: #fab63e;

$small-screen-breakpoint: 320px;
$average-screen-breakpoint: 990px;
$big-screen-breakpoint: 2299px;
