$header-color: #f4f9e2;
$service-color: #62d0df;
$text-color1: #22356f;
$text-shadow-color: #68759c;
$text-color2: rgba(34, 53, 111, 0.5);
$button-color: #f9b640;
$large-breakpoint: 955px;
$small-breakpoint: 670px;
$main-max-width: 1440px;
