$c-gray: #eee;

$c-blue: #22356f;
$c-white: #fff;
$c-seablue: #62d0df;
$c-yellow: #e9b730;
$c-yellowdark: #fab63e;

$bc-container-nav: #f4f9e2;

//breackpoint
$bp-large-about: 850px;
$bp-midium-contact: 600px;

$bp-large-exersice: 1200px;
$bp-large-midium: 1000px;
$bp-large-small: 500px;

$bp-large-help: 730px;
$bp-small-help: 430px;

$bp-large-kinds: 1100px;
