* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Larsseit", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: $colorBlue;

  @include onMobile {
    font-size: 18px;
  }
}

body {
  width: 100%;
}
