$color-header: #f4f9e2;
$white-color: #fff;
$why-thrive: #62d0df;
$color-text-and-contact-us: #22356f;
$color-text-light: rgba(34, 53, 111, 0.5);
$color-button: #f9b640;
$color-link: #fab63e;
$middle-screen: 950px;
$small-screen: 650px;
