.title {
  width: 550px;
  font-size: 48px;
  font-weight: bold;

  color: rgba(34, 53, 111, 1);
}

.main-info {
  width: 550px;

  color: rgba(34, 53, 111, 1);
}

.link__button {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;

  font-weight: bold;
  font-size: 16px;

  background-color: white;
  color: rgba(250, 182, 62, 1);
}

.link__button:hover {
  color: white;
  background-color: rgba(250, 182, 62, 1);
}
