.content__areas-of-life {
  position: relative;
  top: 170px;
  left: 190px;
  margin-bottom: 80px;
}

.areas-of-life__logo {
  display: block;
  height: 64px;
}

.areas-of-life__title {
  display: block;
  height: 160px;
}

.areas-of-life__button {
  margin-top: 80px;
}
