.about {
  position: relative;
  height: 400px;
  width: 100%;
  color: $darkblue-color;
  padding: 140px 0 50px;

  @media (max-width: $breakpoint-big) {
    padding: 80px 0 60px;
    height: auto;
  }

  @media (max-width: $breakpoint-middle) {
    padding: 60px 40px;
  }

  &__title {
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    color: $darkblue-alpha-color;

    @media (max-width: $breakpoint-large) {
      font-size: 14px;
    }

    &--first {
      top: 150px;
      left: 100px;
      margin: auto;
      max-width: 100px;

      @media (max-width: $breakpoint-big) {
        top: 30px;
        left: 0;
        right: 0;
      }
    }

    &--second {
      bottom: 25px;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 200px;

      @media (max-width: $breakpoint-big) {
        bottom: 20px;
        left: 0;
        right: 0;
      }
    }
  }

  &__text {
    max-width: 600px;
    font-size: 24px;
    margin: 0 auto;

    @media (max-width: $breakpoint-large) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint-middle) {
      font-size: 16px;
      width: 100%;
    }
  }
}
