.advice {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0 40px;

    @media (max-width: $breakpoint-large) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-small) {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  }

  &__block {
    padding: 55px 30px 35px;

    @media (max-width: $breakpoint-middle) {
      padding: 30px 25px 15px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 28px;
    color: $darkblue-color;
    line-height: 32px;

    @media (max-width: $breakpoint-small) {
      font-size: 22px;
    }
  }

  &__text {
    max-width: 300px;
    font-size: 16px;
    color: $darkblue-alpha-color;

    @media (max-width: $breakpoint-small) {
      font-size: 14px;
      max-width: 250px;
      margin: auto;
    }
  }
}
