.also {
  color: $darkblue-color;

  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-middle) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__photo {
    max-width: 480px;
    max-height: 800px;

    @media (max-width: $breakpoint-large) {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  &__about {
    margin-left: 30px;
    max-width: 670px;

    @media (max-width: $breakpoint-middle) {
      margin: 0 20px;
    }
  }

  &__addition {
    margin: 100px 0 225px;
    font-size: 16px;
    text-transform: uppercase;

    @media (max-width: $breakpoint-large) {
      margin: 50px 0 150px;
    }

    @media (max-width: $breakpoint-small) {
      margin: 30px 0 40px;
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 150px;

    @media (max-width: $breakpoint-large) {
      margin-bottom: 90px;
    }

    @media (max-width: $breakpoint-middle) {
      margin-bottom: 50px;
      font-size: 24px;
    }
  }

  &__logo {
    font-size: 36px;

    @media (max-width: $breakpoint-large) {
      font-size: 24px;
    }
  }

  &__button {

    @media (max-width: $breakpoint-middle) {
      margin-bottom: 30px;
    }
  }
}
