.footer {
  position: relative;
  height: 80px;
  background-color: $azur-color;
  color: $white-color;

  &__copy {
    position: absolute;
    top: 50%;
    left: 140px;
    max-width: 230px;
    font-size: 14px;
    line-height: 10px;

    @media (max-width: $breakpoint-small) {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
