.header {
  position: relative;
  overflow: hidden;
  height: 840px;
  padding: 0 30px;
  background-color: $beige-color;

  &__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 45px;
    margin: auto;
    width: 230px;
    z-index: 1;

    @media (max-width: $breakpoint-middle) {
      display: none;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__row {
    display: flex;
  }

  &__button {
    display: block;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    color: $white-color;
    cursor: pointer;
    font-size: 16px;

    &-ellipse {
      font-size: 14px;
      border-radius: 50px;
      background-color: $azur-color;
      z-index: 1;
    }

    &-square {
      background: none;
      color: $orange-color;

      &--active {
        background-color: $orange-color;
        margin-right: 20px;
      }
    }
  }

  &__iner {
    position: absolute;
    max-width: 500px; // ?
    margin-top: 170px;
    z-index: 1;
  }

  &__title {
    text-transform: uppercase;
    color: $darkblue-color;
    font-size: 42px;
    font-weight: 700;
    margin: 25px 0;

    @media (max-width: $breakpoint-middle) {
      font-size: 32px;
    }
  }

  &__text {
    max-width: 500px; // ??
    margin-bottom: 70px;
    font-size: 24px;
    color: $darkblue-color;
    line-height: 42px;

    @media (max-width: $breakpoint-middle) {
      font-size: 18px;
    }
  }

  &__right-half {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 840px;
    background-color: $white-color;
  }

  &__ellipse {
    position: absolute;
    width: 810px;
    height: 545px;
    top: 0;
    right: -100px;
    background: $ellipse-color;
    border-radius: 310px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0,0);

    @media (max-width: $breakpoint-middle) {
      display: none;
    }
  }

  &__picture {
    position: absolute;
    width: 810px;
    height: 545px;
    top: 100px;
    right: -100px;
    border-radius: 310px;
    overflow: hidden;
    transform: rotate(-25deg);
    background: url(../images/header-img.png) no-repeat;

    @media (max-width: $breakpoint-middle) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      top: -200px;
      background-image: url(../images/header-img.png);
      background-position: 50%;
      background-size: cover;
      width: 100%;
      height: 150%;
      transform: rotate(25deg);
    }
  }
}
