.info {
  font-size: 14px;
  line-height: 22px;
  color: $darkblue-color;

  @media (max-width: $breakpoint-large) {
    margin-top: 25px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-large) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__photo {
    max-width: 380px;
    max-height: 570px;

    @media (max-width: $breakpoint-large) {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  &__about {
    display: flex;
    margin: 80px 0 60px;

    @media (max-width: $breakpoint-small) {
      flex-direction: column;
    }
  }

  &__columns {
    margin-right: 40px;
    border-right: 1px solid $beige-color;

    &:first-child {
      margin-left: 30px;

      @media (max-width: $breakpoint-small) {
        margin: 0;
      }
    }

    &:last-child {
      border-right: none;
    }

    @media (max-width: $breakpoint-small) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: $breakpoint-small) {
      margin: 15px 0;
    }
  }

  &__text {
    max-width: 220px;
    color: $darkblue-alpha-color;
  }

  &__link {
    color: $darkblue-alpha-color;
    transition: color $small-duration, border-bottom $small-duration;

    &:hover {
      color: $azur-color;
      border-bottom: 1px solid $azur-color;
    }
  }
}
