.nav {
  align-items: center;
  font-size: 14px;
  line-height: 16px;

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 20px;

    &--active {
      padding: 0 0 10px;
      border-bottom: 1px solid $darkblue-color;
      transition: border-bottom $small-duration;

      &:hover {
        border: none;
      }
    }
  }

  &__link {
    padding: 0 0 10px;
    color: $darkblue-color;
    transition: color $small-duration;

    &:hover {
      color: $azur-color;
    }
  }
}
