.add {
  height: 800px;
  max-width: $max-width;
  position: relative;
  display: flex;
  margin: 0 auto;

  &__rightside {
    margin: 103px 175px 42px 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 676px;
  }

  &__name {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: $text-color;
    text-transform: uppercase;
  }

  &__text {
    font-size: 36px;
    color: $text-color;
    line-height: 53px;
    letter-spacing: -0.01em;

    & span {
      color: $color-blue;
    }
  }

  &__after-name {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #fab63e;
    cursor: pointer;
    text-decoration: none;
  }

  &__leftside {
    height: 100%;
    width: 480px;
    top: 0;
    left: 0;
    background-image: url("../images/3-1.jpg");
    background-repeat: no-repeat;
  }
}

@media screen and (max-width:  1024px) {
  .add {
    height: 500px;

    &__rightside {
      margin: 103px 60px 42px;
    }

    &__text {
      font-size: 24px;
      line-height: 30px;
    }

    &__after-name {
      font-size: 16px;
      text-transform: uppercase;
      line-height: 23px;
      letter-spacing: 0.1em;
      color: #fab63e;
    }

    &__leftside {
      background-position: center;
    }
  }
}

@media screen and (max-width:  750px) {
  .add {
    flex-direction: column;
    width: 99%;
    height: 100%;

    &__rightside {
      margin: 80px 0 40px;
      width: 90%;
      padding-left: 10px;
    }

    &__leftside {
      height: 500px;
      width: 100%;
    }
  }
}
