.contact {
  height: 800px;
  max-width: $max-width;
  background-color: $text-color;
  position: relative;
  display: flex;
  margin: 0 auto;

  &__leftside {
    padding: 90px 0 35px 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 579px;
    z-index: 1;
  }

  &__before-name {
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 150px;
    cursor: pointer;
  }

  &__name {
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 36px;
    color: #fff;
    line-height: 53px;
  }

  &__rightside {
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    right: 0;
    background-image: url("../images/4-1.jpg");
    background-repeat: no-repeat;
  }
}

@media screen and (max-width:  550px) {
  .contact {
    flex-direction: column-reverse;
    justify-content: center;
    width: 98%;
    background-image: url("../images/4-1.jpg");

    &__leftside {
      width: 98%;
      padding-left: 10px;
    }

    &__before-name {
      color: black;
    }

    &__name {
      font-size: 30px;
      line-height: 40px;
      color: black;
    }

    &__text {
      font-size: 22px;
      line-height: 30px;
      color: black;
    }

    &__rightside {
      display: none;
    }
  }
}

.contact__after-name {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #62d0df;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
