.help {
  max-width: $max-width;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  &__name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    margin-top: 76px;
    margin-bottom: 24px;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
  }

  &__item-1 {
    height: 360px;
    position: relative;
    cursor: default;
    transition: all 0.5s ease-in-out;
    background-color: #ffe2de;

    &:hover {
      background-image: url("../images/1.jpg");
      transform: scale(0.95);
      box-shadow: -1px 0 14px 6px #ffe2de;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__item-2 {
    height: 360px;
    position: relative;
    cursor: default;
    transition: all 0.5s ease-in-out;
    background-color: #c4e769;

    &:hover {
      background-image: url("../images/1.jpg");
      transform: scale(0.95);
      box-shadow: -1px 0 14px 6px #c4e769;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__item-3 {
    height: 360px;
    position: relative;
    cursor: default;
    background-color: #62d0df;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-image: url("../images/3.jpeg");
      transform: scale(0.95);
      box-shadow: -1px 0 14px 6px #62d0df;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__item-4 {
    height: 360px;
    position: relative;
    cursor: default;
    background-color: #0052c1;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-image: url("../images/4.jpg");
      transform: scale(0.95);
      box-shadow: -1px 0 14px 6px #0052c1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__text {
    font-size: 32px;
    line-height: 33px;
    color: #fff;
    box-sizing: border-box;
    padding: 95px 50px 211px 78px;
    position: absolute;

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #e9b730;
      position: absolute;
      top: 107px;
      left: 54px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .help__block {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .help__item-1,
  .help__item-2,
  .help__item-3,
  .help__item-4 {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 750px) {
  .help__block {
    display: flex;
    flex-direction: column;
    width: 99%;
  }

  .help__item-1,
  .help__item-2,
  .help__item-3,
  .help__item-4 {
    width: 95%;
    height: 320px;
  }
}

/*.help__item-1 {
  background-color: #fff2de;
  &:hover {
    background-image: url("../images/1.jpg");
  }
}

.help__item-2 {
  background-color: #c4e769;

  &:hover {
    background-image: url("../images/завантаження\ \(1\).jpeg");
  }
}

.help__item-3 {
  background-color: #62d0df;
  &:hover {
    background-image: url("../images/3.jpeg");
  }
}

.help__item-4 {
  background-color: #0052c1;
  &:hover {
    background-image: url("../images/4.jpg");
  }
}*/
