.nav {
  box-sizing: border-box;
  background-color: transparent;
  height: 80px;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: $color-blue;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
  }

  &__menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    gap: 20px;
  }

  &__menu-link {
    font-size: 14px;
    color: $text-color;
    cursor: pointer;
    text-decoration: none;
  }

  &__contact {
    width: 150px;
    height: 50px;
    background: $color-blue;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      background: white;
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}

.mobmenu {
  display: none;
}

@include _mob {
  .nav__menu {
    display: none;
  }

  .mobmenu {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }

  .mobmenu__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 16;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 150px;
    transition: all 0.5s ease 0s;

    &:hover {
      width: 100%;
      display: flex;
      background-color: gainsboro;
    }
  }

  .mobmenu__bur {
    display: flex;
    position: relative;
    margin: 30px auto;
    width: 30px;
    height: 20px;
    z-index: 99;
    
  }
  .mobmenu__bur span {
    position: absolute;
    background-color: $text-color;
    width: 30px;
    height: 2px;
    top: 9px;
    z-index: 99;
    transition: all 0.3s ease 0s;

  }
  .mobmenu__bur:before,
  .mobmenu__bur:after {
    content: "";
    background-color: $text-color;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    z-index: 99;
    transition: all 0.5s ease 0s;
  }
  .mobmenu__bur:before {
    top: 0;
    z-index: 99;
  }
  .mobmenu__bur:after {
    bottom: 0;
    z-index: 99;
  }

  .mobmenu__bur.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .mobmenu__bur.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .mobmenu__bur.active span {
    transform: scale(0);
  }

  .mobmenu__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #f4f9e2;
    opacity: 0.9;
    z-index: 97;
    transition: all 1s;
  }

  .mobmenu__menu.active {
    top: 0;
  }
}
