.why {
  height: 607px;
  max-width: $max-width;
  background-color: $color-blue;
  position: relative;
  display: flex;
  margin: 0 auto;

  &__leftside {
    padding-left: 180px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    max-width: 555px;
    z-index: 1;
  }

  &__name {
    font-size: 36px;
    color: #fff;
    margin-bottom: 75px;
  }

  &__text {
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    width: 655px;
  }

  &__rightside {
    position: absolute;
    height: 100%;
    width: 525px;
    top: 0;
    right: 0;
    background-image: url("/images/christopher-campbell-40367.png");
    background-repeat: no-repeat;
  }
}

@include _mob {
  .why {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    &__leftside {
      padding: 0;
      margin: 0;
      padding-left: 20px;
      padding-top: 30px;

    }

    &__text {
      width: auto;
    }

    &__rightside {
      opacity: 0.7;
      width: 100%;
    }
  }
}
