.buttons {
  display: flex;
  &__who-am-i {
    text-transform: uppercase;
    color: white;

    margin-right: 18px;
    padding: 10px 30px 11px;
    background-color: #f9b640;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;

    transition: opacity 300ms;

    &:hover {
      opacity: 0.7;
    }
  }

  &__what-do-i-do {
    color: #fab63e;
    text-transform: uppercase;

    margin-left: 18px;
    margin-top: 10px;

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;

    transition: opacity 300ms;

    &:hover {
      opacity: 0.7;
    }
  }
}
