.nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 0 25px;

    &:hover {
      border-bottom: 2px solid black;
    }
  }

  @media screen and (max-width: 1000px) {
    &__item {
      margin-bottom: 20px;

      &--is-active {
        border: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__list {
      width: 50px;
      display: block;
      position: relative;
      left: 115px;
    }
  }
}
