.hero {
  position: relative;
  max-width: 100%;

  @media (min-width: 991px) {
    overflow-x: hidden;
  }

  &__wrapper {
    max-width: 1117px;
    width: 100%;
    position: relative;
    padding-left: 179px;

    background-color: $c-header-background;

    @media (max-width: 990px) {
      margin: 0 auto;
      padding: 0 10px;
    }
  }

  &__header {
    max-width: 650px;

    @media (max-width: 990px) {
      max-width: 100%;
    }
  }

  &__intro {
    @extend .hero__header;
  }
}
